
.layout_header .layout_header_container1            {width: 100%; min-height: 64px; background: #0a79c0;}
.layout_header .layout_headerBlock_menu li          {display: inline-block; color: #fff;}
.layout_header .layout_headerBlock_menu a           {font-family: GothamPro, Arial, serif; font-weight: 500; padding: 0 18px; line-height: 38px; text-align: center; border-radius: 20px;}
.layout_header .layout_headerBlock_menu a.active    {font-weight: 700; background: #fff; color: #181818;}
.layout_header .layout_headerBlock_menu             {max-width: 1080px; margin: 0 auto;}
.layout_header .layout_headerBlock_menu .menu       {display: inline-block; margin: 13px 0;}

.layout_content .layout_content_container1 {position: relative; max-width: 1080px; margin: 0 auto; padding: 50px 0 0 0; color: #181818;}
.layout_content .layout_content_container1 h2 {font-family: GothamPro, Arial, serif; font-size: 300%; font-weight: 400; margin-bottom: 59px;}
.layout_content .layout_contentBlock_choice .item {font-size: 150%; font-family: Roboto, Arial, serif; padding: 25px; width: 208px; height: 116px; float: left; border: 2px solid #ffffff; background: transparent;}
.layout_content .layout_contentBlock_choice .item .title {color: #218ed2; display: inline-block; margin-bottom: 20px; font-size: 100%; font-family: Roboto, Arial, serif; font-weight: 500;}
.layout_content .layout_contentBlock_choice .item .text {font-size: 78%; font-family: Roboto, Arial, serif; font-weight: 500;}
.layout_content .layout_contentBlock_choice .item.active {border-color: #218ed2; background: #218ed2; color: #ffffff; margin-right: 10px;}
.layout_content .layout_contentBlock_choice .item.active .title   {color: #fff;}
.layout_content .layout_content_lower {clear: both; display: inline-block; margin: 10px 0;}
.layout_content .layout_content_lower .layout_contentBlock_left {padding: 30px; width: 747px; height: auto; background: #ffffff; float: left; margin-right: 10px;}
.layout_content .layout_content_lower .layout_contentBlock_right {padding: 30px; width: 202px; height: auto; background: #ffffff; float: left;}
.layout_content .layout_content_lower label {float: left; width: 240px; font-family: Roboto, Arial, serif; font-weight: 500; font-size: 118%; line-height: 42px;}
.layout_content .layout_content_lower input {width: 480px; height: 40px; border: 1px solid #e8eaeb; margin: 10px 0;}
.layout_content .layout_content_lower .layout_contentBlock_right {font-family: Roboto, Arial, serif; font-weight: 400; color: #218ed2; font-size: 118%;}
.layout_content .layout_content_lower .layout_contentBlock_right span {font-weight: 500; color: #181818; font-size: 115%;}
.layout_content .layout_content_lower .layout_contentBlock_right ul {list-style-image: url("images/open_account/Document.svg");}
.layout_content .layout_content_lower .layout_contentBlock_right li {line-height: 30px; list-style: inherit;}
.layout_content .layout_content_lower .layout_contentBlock_right img {float: left; margin-right: 10px; margin-top: 7px;}
.layout_content .layout_content_lower input[name="password"] {width: 187px; float: left;}
.layout_content .show_pass {width: 42px; height: 42px; background: #e8eaeb; display: inline-block; margin: 10px 20px 10px 10px;}
.layout_content .show_pass a {display: inline-block; width: 100%; height: 100%; line-height: 42px; text-align: center;}
.layout_content .gen_pass {font-family: Roboto, Arial, serif; font-weight: 400; color: #218ed2;}
.layout_content .layout_content_lower input[name="repeat_pass"] {width: 240px; float: left;}
.layout_content .layout_content_lower .note {color: #9b9a9a; width: 220px; display: inline-block; margin-left: 20px; line-height: 19px;}
.layout_content .layout_content_lower input[type="checkbox"] {vertical-align: sub; width: 14px; height: 14px; background: transparent; border: 1px solid #e8eaeb; margin-right: 9px;}
.layout_content .layout_content_lower label[about="check"] {float: none; font-family: Roboto, Arial, serif; font-weight: 700;}
.layout_content .layout_content_lower form .clear {text-align: left; width: 260px; margin: 0 auto;}
.layout_content .layout_content_lower form .addition {text-align: center;}
.layout_content .layout_content_lower form .addition span {display: block; color: #9b9a9a; margin: 20px auto 30px auto; text-align: left; width: 260px;}
.layout_content .layout_content_lower form .addition button {display: block; margin: 0 auto; font-family: Roboto, Arial, serif; width: 260px; padding: 0; height: 40px; line-height: 36px;}

.layout_content .layout_content_lower .layout_contentBlock_left p {font-family: Roboto, Arial, serif; font-weight: 400; font-size: 135%; line-height: 27px;}
.layout_content .layout_content_lower .attention {margin: 37px 0; display: block; width: 698px; color: #ffffff; font-family: Roboto, Arial, serif; font-weight: 700; font-size: 118%; height: 37px; background: #388d40; padding: 21px 24px;}
.layout_content .layout_content_lower .attention span {width: 311px; display: inline-block; float: left; line-height: 21px;}
.layout_content .layout_content_lower .attention .password {font-weight: 400; font-size: 300%; float: right; text-align: right; line-height: 36px;}
.layout_content .layout_content_lower .layout_contentBlock_left .profile_info {width: 50%; min-width: 388px;}
.layout_content .layout_content_lower .layout_contentBlock_left table {width: 100%; font-family: Roboto, Arial, serif; font-weight: 400;}
.layout_content .layout_content_lower .layout_contentBlock_left table td {padding: 20px 0;}
.layout_content .layout_content_lower .layout_contentBlock_left table td:first-child {font-weight: 500;}
.layout_content .layout_content_lower .more {position: relative; display: block; width: 698px; padding: 10px 30px; background: #eef1f2; box-shadow: 0 2px 0 #e1e7e9;}
.layout_content .layout_content_lower .more span {font-family: Roboto, Arial, serif; font-weight: 500; font-size: 118%;}
.layout_content .layout_content_lower .more a {position: absolute; right: 14px;}
.layout_content .layout_content_lower .extra_info .form {display: none; margin-top: 30px;}
.layout_content .layout_content_lower .extra_info form {width: 470px; position: relative;}
.layout_content .layout_content_lower .extra_info .form label {float: left;}
.layout_content .layout_content_lower .extra_info .form input {width: 187px; float: left; margin: 0 0 20px 0;}
.layout_content .layout_content_lower .extra_info .form span {position: absolute; top: 0; color: #9b9a9a; width: 220px; display: inline-block; margin-left: 20px; line-height: 19px;}
.layout_content .layout_content_lower .extra_info button {margin-top: 45px; display: block; float: left;}
.layout_content .layout_content_lower .extra_info .edit {float: right; margin-top: 45px; color: #218ed2; font-size: 118%;}
.layout_content .layout_content_lower .layout_contentBlock_right.after {background: transparent; padding: 0;}
.layout_content .layout_content_lower .layout_contentBlock_right.after a {background: #fff; display: block; padding: 30px; font-family: ProximaNova, Helvetica, sans-serif; text-align: center; margin-bottom: 10px;}
.layout_content .layout_content_lower .layout_contentBlock_right.after img {float: none;}
.layout_content .layout_content_lower .layout_contentBlock_right.after .link {font-size: 105%; font-weight: 700; color: #218ed2;}
.layout_content .layout_content_lower .layout_contentBlock_right.after .devices {font-size: 95%; font-weight: 400; color: #218ed2;}
.layout_content .layout_content_lower .layout_contentBlock_right.after .fill_up span{font-size: 105%; font-weight: 700; color: #218ed2;}

.layout_content .layout_content_middle {font-family: Roboto, Arial, serif; clear: both; display: inline-block;}
.layout_content .layout_content_middle .layout_contentBlock_left {position: relative; padding: 35px; width: 323px; height: auto; background: #ffffff; float: left; margin-right: 0;}
.layout_content .layout_content_middle .layout_contentBlock_right {padding: 35px; width: 616px; height: auto; background: #fbfcfc; float: left;}
.layout_content .layout_content_middle label {float: left; width: 240px; font-family: Roboto, Arial, serif; font-weight: 500; font-size: 118%; line-height: 13px; margin: 26px 0 13px 0;}
.layout_content .layout_content_middle input {width: 300px; height: 40px; border: 1px solid #e8eaeb; margin: 0;}
.layout_content .layout_content_middle input[name="password"] {width: 245px;}
.layout_content .layout_content_middle .gen_pass {position: absolute; right: 30px; bottom: 253px;}
.layout_content .layout_content_middle .show_pass {vertical-align: top; margin: 0 0 0 10px;}
.layout_content .layout_content_middle .item {float: left; width: 50%;}
.layout_content .layout_content_middle .selects {display: inline-block;}
.layout_content .layout_content_middle select {float: left; width: 150px; height: 41px; background: #f5f6f6; border-color: #e8eaeb;}
.layout_content .layout_content_middle button {margin: 30px auto 0 auto;}
.layout_content .layout_content_middle .layout_contentBlock_right h3 {font-size: 165%; margin-bottom: 32px;}
.layout_content .layout_content_middle .layout_contentBlock_right p {font-size: 118%;}
.layout_content .layout_content_middle .layout_contentBlock_right p a {color: #218ed2; text-decoration: underline; display: inline;}
.layout_content .layout_content_middle .layout_contentBlock_right .list {text-align: center;}
.layout_content .layout_content_middle .layout_contentBlock_right .point {font-size: 118%; text-align: left; display: block; margin: 30px 0;}
.layout_content .layout_content_middle .layout_contentBlock_right .bold {font-weight: 700;}
.layout_content .layout_content_middle .layout_contentBlock_right .done h2 {font-size: 218%; color: #388d40; margin-bottom: 0;}
.layout_content .layout_content_middle .layout_contentBlock_right .done p {margin: 26px 0;}
.layout_content .layout_content_middle .layout_contentBlock_right .server {font-size: 120%;}

.layout_content .layout_content_lower {position: relative; width: 100%;}
.layout_content .layout_contentBlock_reklama {width: 616px; text-align: left; float: right; padding: 35px 40px;}
.layout_content .layout_content_lower img {position: absolute; left: -300px;}
.layout_content .layout_contentBlock_reklama h3 {font-family: GothamPro, Arial, serif; font-size: 260%; font-weight: 400; margin-bottom: 35px; line-height: 35px 40px; color: #181818;}
.layout_content .layout_contentBlock_reklama p {font-family: Roboto, Arial, serif; font-size: 118%; font-weight: 400; line-height: 23px; color: #181818;}
.layout_content .layout_contentBlock_reklama .apps    {width: 215px; display: inline-block; margin-top: 40px; float: right;}
.layout_content .layout_contentBlock_reklama button   {float: left;}
.layout_content .layout_contentBlock_reklama .win     {margin: 0 15px; display: inline-block; background: url("images/demo_account/Windows_blue.svg") center center no-repeat; background-size: cover; width: 18px; height: 18px;}
.layout_content .layout_contentBlock_reklama .apple   {margin: 0 15px; display: inline-block; background: url("images/demo_account/Apple_blue.svg") center center no-repeat; background-size: cover; width: 18px; height: 22px;}
.layout_content .layout_contentBlock_reklama .android {margin: 0 15px; display: inline-block; background: url("images/demo_account/Android_blue.svg") center center no-repeat; background-size: cover; width: 20px; height: 23px;}
.layout_content .layout_contentBlock_reklama .web     {margin: 0 15px; display: inline-block; background: url("images/demo_account/Web_blue.svg") center center no-repeat; background-size: cover; width: 20px; height: 20px;}
