@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .layout_header.desktop                         {display: none;}
    .layout_header.tablet                          {text-align: center; display: inline-block;}
    .layout_header.tablet .layout_header_container {max-width: 748px; display: inline-block; height: 90px; padding: 26px 0;}
    .layout_header.tablet .layout_headerBlock_logo {float: left;}
    .layout_header.tablet .layout_headerBlock_menuTablet {text-align: right;}
    .layout_header.tablet .layout_headerBlock_nav  {width: auto; margin: 0; float: left;}
    .layout_header.tablet .layout_headerBlock_nav li:first-child {padding-left: 0;}

    .layout_footer  {height: 77px; padding: 0;}
    .layout_footer .layout_footer_container {width: 100%; max-width: 748px;}
    .layout_footer .layout_footer_content {display: none;}
    .layout_footer .layout_footerBlock_copyright {display: inline-block; font-family: Roboto, Arial, serif; font-size: 115%; color: #353d45;}
}