@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .layout_header.desktop                         {display: none;}
    .layout_header.mobile                          {text-align: center;  display: inline-block; width: 100%; max-width: 300px;}
    .layout_header.mobile .layout_header_container {width: 100%; max-width: 300px; display: inline-block; height: 84px; padding: 25px 10px;}
    .layout_header.mobile .layout_headerBlock_logo {float: left;}
    .layout_header.mobile .layout_headerBlock_icons {float: right; line-height: 43px;}
    .layout_header.mobile .layout_headerBlock_icons a {line-height: 36px; display: inline-block; width: 40px; height: 40px; border-radius: 50%; border: 1px solid #0a79bf;}
    .layout_header.mobile .layout_headerBlock_icons a:first-child {margin-right: 10px;}
    .layout_header.mobile .layout_headerBlock_icons a img {margin-left: 7px; width: 20px;}
    .layout_header.mobile .layout_header_content2  {margin-top: 27px; display: inline-block;}
    .layout_header.mobile .layout_headerBlock_menuTablet {width: 100%; display: inline-block;}
    .layout_header.mobile .layout_headerBlock_menuTablet img {vertical-align: sub; margin-right: 7px;}
    .layout_header.mobile .layout_headerBlock_menuTablet a {width: 33%; display: inline-block;}
    .layout_header.mobile .layout_headerBlock_menuTablet a:last-child {margin-right: 0;}

    .layout_footer  {height: 87px; padding: 0;}
    .layout_footer .layout_footer_container {width: 100%; max-width: 750px;}
    .layout_footer .layout_footer_content {display: none;}
    .layout_footer .layout_footerBlock_copyright {display: inline-block; font-family: Roboto, Arial, serif; font-size: 115%; color: #353d45;}

    .layout_content1 {background-size: 320px 330px;}
    .layout_content1 .layout_content_container1 {max-width: 320px; height: 330px;}
    .layout_content1 .layout_contentBlock_slide1 {width: 260px; text-align: center; padding: 30px;}
    .layout_content1 .layout_contentBlock_slide1 h2 {font-size: 150%; margin-top: 0; line-height: 25px;}
    .layout_content1 .layout_contentBlock_slide2 {display: none;}
    .layout_content1 .layout_contentBlock_slide3 {display: none;}

    .layout_content2 .layout_contentBlock_rating h3 {display: none;}
    .layout_content2 .layout_contentBlock_rating table {display: none;}
    .layout_content3 .layout_contentBlock_resume p {display: none;}
    .layout_content2 .layout_contentBlock_block1 .col_left {display: none;}

    .layout_content3 .layout_content_container5.desktop          {display: none;}
    .layout_content3 .layout_content_container5.tablet           {padding: 57px 0; display: inline-block;}
}