
.layout_header .layout_header_container1            {width: 100%; min-height: 64px; background: #0a79c0;}
.layout_header .layout_headerBlock_menu li          {display: inline-block; color: #fff;}
.layout_header .layout_headerBlock_menu a           {font-family: GothamPro, Arial, serif; font-weight: 500; padding: 0 18px; line-height: 38px; text-align: center; border-radius: 20px;}
.layout_header .layout_headerBlock_menu a.active    {font-weight: 700; background: #fff; color: #181818;}
.layout_header .layout_headerBlock_menu             {max-width: 1080px; margin: 0 auto;}
.layout_header .layout_headerBlock_menu .menu       {display: inline-block; margin: 13px 0;}

.layout_content .layout_content_container1 {position: relative; max-width: 1080px; margin: 0 auto; padding: 50px 0; color: #181818;}
.layout_content .layout_content_container1 h2 {font-family: GothamPro, Arial, serif; font-size: 300%; font-weight: 400; margin-bottom: 59px;}
.layout_content .layout_contentBlock_choice .item {font-size: 150%; font-family: Roboto, Arial, serif; padding: 25px; width: 208px; height: 116px; float: left; border: 2px solid #ffffff; background: transparent;}
.layout_content .layout_contentBlock_choice .item .title {color: #218ed2; display: inline-block; margin-bottom: 20px; font-size: 100%; font-family: Roboto, Arial, serif; font-weight: 500;}
.layout_content .layout_contentBlock_choice .item .text {font-size: 78%; font-family: Roboto, Arial, serif; font-weight: 500;}
.layout_content .layout_contentBlock_choice .item.active {border-color: #218ed2; background: #218ed2; color: #ffffff; margin-right: 10px;}
.layout_content .layout_contentBlock_choice .item.active .title   {color: #fff;}
.layout_content .layout_content_lower {clear: both; display: inline-block; margin: 10px 0;}
.layout_content .layout_content_lower .layout_contentBlock_left {padding: 30px; width: 747px; height: 475px; background: #ffffff; float: left; margin-right: 10px;}
.layout_content .layout_content_lower .layout_contentBlock_right {padding: 30px; width: 202px; height: 215px; background: #ffffff; float: left;}
.layout_content .layout_content_lower label {float: left; width: 240px; font-family: Roboto, Arial, serif; font-weight: 500; font-size: 118%; line-height: 42px;}
.layout_content .layout_content_lower input {width: 500px; height: 40px; border: 1px solid #e8eaeb; margin: 10px 0;}
.layout_content .layout_content_lower .layout_contentBlock_right {font-family: Roboto, Arial, serif; font-weight: 400; color: #218ed2; font-size: 118%;}
.layout_content .layout_content_lower .layout_contentBlock_right span {font-weight: 500; color: #181818; font-size: 115%;}
.layout_content .layout_content_lower .layout_contentBlock_right ul {list-style-image: url("images/open_account/Document.svg");}
.layout_content .layout_content_lower .layout_contentBlock_right li {line-height: 30px; list-style: inherit;}
.layout_content .layout_content_lower .layout_contentBlock_right img {float: left; margin-right: 10px; margin-top: 7px;}
.layout_content .layout_content_lower input[name="password"] {width: 207px; float: left;}
.layout_content .layout_content_lower .show_pass {width: 42px; height: 42px; background: #e8eaeb; display: inline-block; margin: 10px 20px 10px 10px;}
.layout_content .layout_content_lower .show_pass a {display: inline-block; width: 100%; height: 100%; line-height: 42px; text-align: center;}
.layout_content .layout_content_lower .gen_pass {font-family: Roboto, Arial, serif; font-weight: 400; color: #218ed2;}
.layout_content .layout_content_lower input[name="repeat_pass"] {width: 260px; float: left;}
.layout_content .layout_content_lower .note {color: #9b9a9a; width: 220px; display: inline-block; margin-left: 20px; line-height: 19px;}
.layout_content .layout_content_lower input[type="checkbox"] {vertical-align: sub; width: 14px; height: 14px; background: transparent; border: 1px solid #e8eaeb; margin-right: 9px;}
.layout_content .layout_content_lower label[about="check"] {float: none; font-family: Roboto, Arial, serif; font-weight: 700;}
.layout_content .layout_content_lower form .clear {text-align: left; width: 260px; margin: 0 auto;}
.layout_content .layout_content_lower form .addition {text-align: center;}
.layout_content .layout_content_lower form .addition span {display: block; color: #9b9a9a; margin: 30px auto; text-align: left; width: 260px;}
.layout_content .layout_content_lower form .addition button {display: block; margin: 0 auto; font-family: Roboto, Arial, serif; width: 260px; padding: 0; height: 40px; line-height: 36px;}
