/*Base styles*
/************************************************************!/*/
body {width: 100%; height: auto; background: #edf1f2; font-size: 0.8em; margin: 0; padding: 0;}
.layout_content {width: 100%; text-align: center;}
.layout_contentBlock {width: 100%; text-align: center; display: inline-block;}
.layout_contentBlock_title {width: 1080px; font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 300%; margin: 50px auto; display: inline-block; text-align: left; color: #181818;}
.layout_contentBlock .section {margin-bottom: 50px; position: relative; width: 1080px; display: inline-block; text-align: left;}
.layout_contentBlock .section.full {width: 100%; text-align: center;}
.layout_contentBlock .section.full .wrapper {width: 1080px; display: inline-block;}
h2 {font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 300%; margin: 50px auto; display: inline-block; text-align: center; color: #181818;}
h3 {font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 260%; margin: 0 0 32px 0;}
h4 {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 200%; margin: 0 0 32px 0;}
h5 {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 190%; margin: 0 0 32px 0;}
h6 {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 165%; margin: 0 0 32px 0;}
p.paragraph {color: #181818; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 135%; margin: 0; line-height: 27px;}
p.article {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; margin: 0; line-height: 25px;}
label {font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; font-size: 118%; color: #181818; line-height: 42px;}
input {height: 39px; border: 2px solid #e8eaeb; background: #ffffff; padding: 0 15px 0 5px;}
ul {padding: 0; margin: 0;}
ul li {list-style: none;}
a {display: inline-block; font-size: inherit; color: inherit; text-decoration: none; cursor: pointer;}

/*Buttons*/
.button_wrapper {width: 100%; text-align: center; clear: both;}

button {text-decoration: none; display: inline-block; text-align: center; border-width: 2px; border-style: solid; font-weight: 700; cursor: pointer;}
button.red {background: #ff4830; color: #ffffff; border-color: #ff4830;}
button.red.large:hover      {background: transparent; color: #ff4830;}
button.red.large:active     {background: #218ed2; color: #ffffff; border-color: #218ed2;}
button.red.small:hover            {background: transparent; color: #ff4830;}
button.red.small:active           {background: #181818; color: #ffffff; border-color: #181818;}
button.blue                 {background: #218ed2; color: #ffffff; border-color: #218ed2;}
button.blue:hover           {background: transparent; color: #218ed2;}
button.blue:active          {background: #181818; color: #ffffff; border-color: #181818;}
button.white {background: #ffffff; color: #181818; border-color: #ffffff;}
button.white:hover          {border-color: #ffffff; color: #ffffff; background: transparent;}
button.white:active         {border-color: #218ed2; color: #ffffff; background: #218ed2;}
button.white_outline:hover  {border-color: #ffffff; background: #ffffff; color: #181818;}
button.white_outline:active {border-color: #181818; background: #181818; color: #ffffff;}
button.grey {background: #eef1f2; color: #181818; border-color: #eef1f2;}
button.white_outline {background: transparent; color: #ffffff; border-color: #ffffff;}
button.grey_outline {background: transparent; color: #181818; border-color: #eef1f2;}
button.small {padding: 0 25px; height: 36px; line-height: 31px; border-radius: 20px; font-family: Roboto-Bold, Arial, sans-serif; font-size: 100%;}
button.medium {padding: 0 25px; height: 39px; line-height: 36px; border-radius: 22px; font-family: Roboto-Bold, Arial, sans-serif; font-size: 118%;}
button.large {padding: 0 42px; height: 51px; line-height: 45px; border-radius: 28px; font-family: GothamPro-Bold, Arial, sans-serif; font-size: 135%;}
button.dashed {border-style: dashed;}
button.dashed:hover         {border-style: solid;}
button.dashed:active        {border-color: #ffffff; color: #181818; border-style: solid; background: #ffffff;}

/*Form*/
select       {outline-width: 0; height: 43px; background: #f5f6f6; border-color: #e8eaeb; padding-left: 12px; color: #181818; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif;}
select:hover {box-shadow: 1px 1px 1px #edf1f2;}
.item {float: left;}
.col {float: left;}
.right {float: right;}
table {border-collapse: collapse; border: none;}

.clear                      {clear: both;}
.layout_header,
.layout_content,
.layout_footer              {position: relative;}

/*.mobile {display: none;}*/
/*.desktop {display: block;}*/

.layout_header .layout_header_container .triangle {border: 24px solid transparent;	border-bottom: 24px solid #0a79c0; width: 0; position: absolute; top: 45px;}

.layout_form_login                             {display: none; height: 100vh; min-height: 500px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.9); z-index: 5; text-align: center;}
.layout_form_login .form_wrapper               {width: 303px; height: 248px; padding: 25px 30px; background: #ffffff; margin: 10px auto; position: absolute; top: 40px; right: 40px;}
.layout_form_login .form_wrapper .close_login        {position: absolute; top: 32px; right: 30px;}
.layout_form_login .form_wrapper h2            {text-align: left; font-family: Roboto-Reg, Arial, sans-serif; font-size: 170%; font-weight: 400; color: #181818; margin: 0 0 20px 0;}
.layout_form_login .form_wrapper label         {line-height: 39px; font-family: Roboto-Med, Arial, sans-serif; font-size: 118%; font-weight: 500; color: #181818; float: left; width: 52px; margin-right: 40px; text-align: left;}
.layout_form_login .form_wrapper input         {float: left; width: 184px; padding: 0 10px; border: 2px solid #e8eaeb; height: 39px; margin-bottom: 20px;}
.layout_form_login .form_wrapper .button_wrapper        {margin-top: 15px;}
.layout_form_login .form_wrapper a.button        {width: 199px; padding: 0; float: right; margin: 0; height: 39px;}
.layout_form_login .form_wrapper .forget       {float: left; line-height: 42px; color: #218ed2; font-size: 118%; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif;}


/*Header*
***********************************************************/
.layout_header_menu                                 {display: none;}
.layout_header                                      {width: 100%; height: auto; background: #ffffff; color: #2a333c;}
.layout_header .layout_header_container             {height: 147px; margin: 0 auto; width: 100%; max-width: 1080px;}
.layout_header .layout_header_content               {width: 100%; line-height: 60px; display: inline-block;}
.layout_header .layout_header_content a             {margin: 0 35px 0 0; color: #2a333c; display: inline-block; font-weight: 500; font-family: Roboto-Med, Arial, sans-serif;}
.layout_header .layout_header_content a:last-child  {margin-right: 0;}
.layout_header .layout_header_content a:hover       {color: #ff4830;}
.layout_header .layout_header_content img           {margin: 0 7px 0 0; vertical-align: middle;}
.layout_header .layout_headerBlock_left             {float: left; width: 760px;}
.layout_header .layout_headerBlock_left a.terminal  {float: right;}
.layout_header .layout_headerBlock_right            {float: right; text-align: right;}
.layout_header .layout_header_content2              {width: 100%;}
.layout_header .layout_headerBlock_logo             {background: url("../images/main/logo.png") center no-repeat; display: inline-block; width: 139px; height: 43px; background-size: cover;}
.layout_header .layout_headerBlock_logo a           {display: block; height: 100%;}
.layout_header .layout_headerBlock_nav              {display: inline-block; line-height: 47px; vertical-align: bottom; margin: 0 0 0 50px;}
.layout_header .layout_headerBlock_nav li           {display: inline-block; padding: 0 15px; color: #218ed2;}
.layout_header .layout_headerBlock_nav li.active    {position: relative;}
.layout_header .layout_headerBlock_nav li a         {text-transform: uppercase; font-size: 100%; font-weight: 700; font-family: GothamPro-Bold, Arial, sans-serif;}
.layout_header .layout_headerBlock_nav li a.active  {color: #1c252f;}
.layout_header .layout_headerBlock_account          {float: right; text-align: right; font-size: 100%; width: 180px; line-height: 40px;}
.layout_header .layout_headerBlock_account a        {font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; font-size: 120%; display: block;}
.layout_header .layout_headerBlock_account img      {float: left; margin: 10px 0 0 10px;}
.layout_header .layout_headerBlock_left a.desktop   {display: inline-block;}
.layout_header .layout_headerBlock_left a.mobile    {display: none;}
.layout_header .layout_headerBlock_icons {display: none;}
.layout_header .layout_headerBlock_account .tablet {display: none;}
/*Footer*
**********************************************************/
.layout_footer                                                 {height: auto; background: #fff; padding:  0;}
.layout_footer .layout_footer_container                        {text-align: center; width: 1080px; margin: 0 auto; position: relative;}
.layout_footer .layout_footerBlock_menu                        {line-height: 35px; margin: 45px auto; display: inline-block;}
.layout_footer .layout_footerBlock_menu .col                   {float: left; text-align: left;}
.layout_footer .layout_footerBlock_menu .col:last-child        {margin-right: 0;}
.layout_footer .layout_footerBlock_menu .col:last-child .title {margin-right: 0;}
.layout_footer .layout_footerBlock_menu .col li                {max-width: 190px;}
.layout_footer .layout_footerBlock_menu .col a                 {color: #0a79bf; font-size: 118%; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; line-height: 24px;}
.layout_footer .layout_footerBlock_menu .col .title            {font-size: 118%; margin-right: 120px; font-weight: 700; font-family: Roboto-Bold, Arial, sans-serif; text-transform: uppercase; color: #000000;}
.layout_footer .layout_footer_content2                         {clear: both;}
.layout_footer .layout_footerBlock_copyright                   {display: none;}
.layout_footer .layout_footerBlock_protect                     {position: absolute; width: 260px; right: 0; bottom: 55px; text-align: left; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; color: #353535;}
.layout_footer .layout_footerBlock_protect span                {vertical-align: sub;}
.layout_footer .layout_footerBlock_protect img                 {float: left; margin-right: 16px;}
.layout_footer .layout_footerBlock_protect .mobile             {display: none;}

/*/!*Content**/
/***********************************************************!/*/
/*.slide.second, .slide.third {display: none;}*/

/*.layout_content1                                      {text-align: center; background: url("../images/main/Bg_index.png") center center no-repeat; background-size: cover;}*/
/*.layout_content1 .layout_content_container1           {position: relative; max-width: 1080px; margin: 0 auto; display: inline-block; color: #ffffff; width: 100%; height: 500px;}*/
/*.layout_content1.index .layout_contentBlock_slide1          {width: 60%; float: left; text-align: left;}*/
/*.layout_content1.index .layout_contentBlock_slide1 h2       {font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; font-size: 270%; max-width: 665px; line-height: 45px; margin: 94px 0 44px 0;}*/
/*.layout_content1.index .layout_contentBlock_slide1 .red       {margin-right: 10px;}*/
/*.layout_content1.index .layout_contentBlock_slide2          {float: right; text-align: right;}*/
/*.layout_content1.index .layout_contentBlock_slide2 h3       {font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; font-size: 200%; margin: 30px 0 0 0;}*/
/*.layout_content1.index .layout_contentBlock_slide2 p        {font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 500; font-size: 137%; line-height: 25px; max-width: 170px;}*/
/*.layout_content1.index .layout_contentBlock_slide2 .apps    {width: 90px; display: inline-block; margin: 10px 0;}*/
/*.layout_content1.index .layout_contentBlock_slide2 .apps a  {width: 100%; display: inline-block; height: 100%;}*/
/*.layout_content1.index .layout_contentBlock_slide2 .win     {margin: 10px; display: inline-block; background: url("../images/main/Windows.svg") center center no-repeat; background-size: cover; width: 18px; height: 18px;}*/
/*.layout_content1.index .layout_contentBlock_slide2 .apple   {margin: 10px; display: inline-block; background: url("../images/main/Apple.svg") center center no-repeat; background-size: cover; width: 18px; height: 22px;}*/
/*.layout_content1.index .layout_contentBlock_slide2 .android {margin: 10px; display: inline-block; background: url("../images/main/Android.svg") center center no-repeat; background-size: cover; width: 20px; height: 23px;}*/
/*.layout_content1.index .layout_contentBlock_slide2 .web     {margin: 10px; display: inline-block; background: url("../images/main/Web.svg") center center no-repeat; background-size: cover; width: 20px; height: 20px;}*/
/*.layout_content1.index .layout_contentBlock_slide3          {position: absolute; right: 0; bottom: 76px; font-weight: 300; font-family: GothamPro-NarMed, Arial, sans-serif; text-align: right; font-size: 130%; line-height: 25px; width: 160px;}*/

/*.layout_content2.index                                            {overflow: inherit;}*/
/*.layout_content2.index .layout_content_container2                 {display: inline-block; text-align: left; width: 1080px;margin: -30px auto 30px auto;}*/
/*.layout_content2.index .layout_contentBlock                       {float: left; display: inline-block; padding: 30px;}*/
/*.layout_content2.index .layout_contentBlock_block1                {color: #ffffff; text-align: center; margin-right: 10px; padding: 0;}*/
/*.layout_content2.index .layout_contentBlock_block1 img            {display: block; margin: 33px auto 17px auto;}*/
/*.layout_content2.index .layout_contentBlock_block1 .col           {float: left; display: inline-block; height: 534px;}*/
/*.layout_content2.index .layout_contentBlock_block1 .col .white_outline           {font-size: 85%;}*/
/*.layout_content2.index .layout_contentBlock_block1 .col_left      {background: #1569ba; width: 140px; margin-right: -1px; padding: 0 40px; font-weight: 500; font-family: Roboto-Med, Arial, sans-serif; line-height: 20px;}*/
/*.layout_content2.index .layout_contentBlock_block1 .col_left p    {font-size: 103%; line-height: 20px;}*/
/*.layout_content2.index .layout_contentBlock_block1 .col_right     {text-align: left; background: #1a7acc; width: 60%; max-width: 230px; padding: 0 40px; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; font-size: 115%; line-height: 25px;}*/
/*.layout_content2.index .layout_contentBlock_block1 .col_right h3  {font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 230%; margin: 40px 0;}*/
/*.layout_content2.index .layout_contentBlock_block1 .col_right p   {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 103%;}*/

/*.layout_content2.index .layout_contentBlock_block2        {width: 202px; height: 202px; margin: 0 10px 0 0; background: url("../images/main/Img_index.png") center no-repeat; background-size: cover; color: #ffffff;}*/
/*.layout_content2.index .layout_contentBlock_block2 h3     {font-family: GothamPro-Black, Arial, sans-serif; font-weight: 900; margin-bottom: 10px; font-size: 110%; text-transform: uppercase;}*/
/*.layout_content2.index .layout_contentBlock_block2 h2     {font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 165%; margin: 5px 0 30px 0;}*/
/*.layout_content2.index .layout_contentBlock_block2 p      {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 115%; line-height: 23px;}*/

/*.layout_content2.index .layout_contentBlock_block3                {position: relative; width: 202px; height: 202px; background: #ffffff;}*/
/*.layout_content2.index .layout_contentBlock_block3 .date          {float: left; color: #181818; width: 50%;}*/
/*.layout_content2.index .layout_contentBlock_block3 .num           {float: left; font-size: 243%; font-weight: 500; font-family: GothamPro-Med, Arial, sans-serif; margin-right: 8px;}*/
/*.layout_content2.index .layout_contentBlock_block3 .month         {font-size: 100%; font-weight: 400; font-family: GothamPro-Reg, Arial, sans-serif;}*/
/*.layout_content2.index .layout_contentBlock_block3 .markers       {position: absolute; top: 30px; right: 0; line-height: 33px; display: inline-block; width: 50%;}*/
/*.layout_content2.index .layout_contentBlock_block3 .marker        {cursor: pointer; margin-left: 10px; display: inline-block; width: 10px; height: 10px; background: #e9eaea; border-radius: 50%;}*/
/*.layout_content2.index .layout_contentBlock_block3 .marker.active {background: #ff4830;}*/
/*.layout_content2.index .layout_contentBlock_block3 p              {display: inline-block; font-size: 100%; line-height: 20px; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; color: #181818; margin: 9px 0 28px 0;}*/

/*.layout_content2.index .layout_contentBlock_block4         {width: 474px; height: 202px; margin-top: 10px; color: #181818; background: #ffffff;}*/
/*.layout_content2.index .layout_contentBlock_block4  img    {float: left;}*/
/*.layout_content2.index .layout_contentBlock_block4  .text  {margin-left: 150px;}*/
/*.layout_content2.index .layout_contentBlock_block4  h3     {font-size: 180%; font-weight: 400; font-family: GothamPro-Reg, Arial, sans-serif; margin-bottom: 15px;}*/
/*.layout_content2.index .layout_contentBlock_block4  p      {font-size: 118%; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; line-height: 26px;}*/

/*.layout_content2.index .layout_content_container3                     {margin: 20px auto; color: #181818; display: inline-block;}*/
/*.layout_content2.index .layout_contentBlock_rating                    {width: 746px; height: 594px; margin-right: 10px; background: #ffffff; text-align: left;}*/
/*.layout_content2.index .layout_contentBlock_rating h3                 {font-size: 260%; font-weight: 400; font-family: GothamPro-Reg, Arial, sans-serif; margin-bottom: 20px;}*/
/*.layout_content2.index .layout_contentBlock_rating table              {width: 100%; height: 450px;}*/
/*.layout_content2.index .layout_contentBlock_rating tr td              {border-bottom: 1px solid #f5f7f7; font-size: 140%; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif;}*/
/*.layout_content2.index .layout_contentBlock_rating tr:last-child td   {border-bottom: none;}*/
/*.layout_content2.index .layout_contentBlock_rating tr td:first-child  {color: #0a79bf; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; font-size: 135%;}*/
/*.layout_content2.index .layout_contentBlock_rating th                 {border-bottom: 1px solid #f5f7f7; color: #afafaf; font-weight: 400; text-align: left; font-family: Roboto-Reg, Arial, sans-serif;}*/
/*.layout_content2.index .layout_contentBlock_rating .addition          {margin: 40px 0 10px 0;}*/
/*.layout_content2.index .layout_contentBlock_rating .addition span     {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 145%; float: left; line-height: 36px;}*/
/*.layout_content2.index .layout_contentBlock_rating .addition span img {margin: 0 27px;}*/
/*.layout_content2.index .layout_contentBlock_rating .addition .red     {margin: 0 auto;}*/
/*.layout_content2.index .layout_contentBlock_rating .addition .red img {vertical-align: text-bottom;}*/
/*.layout_content2.index .layout_contentBlock_invest.tablet             {display: none;}*/
/*.layout_content2.index .layout_contentBlock_invest.desktop            {text-align: left; width: 202px; height: 594px; background: url("../images/main/Plant.png") center no-repeat; background-size: cover;}*/
/*.layout_content2.index .layout_contentBlock_invest.desktop h3         {color: #0a79bf; font-weight: 700; font-family: GothamPro-Bold, Arial, sans-serif; font-size: 180%; margin-bottom: 27px;}*/
/*.layout_content2.index .layout_contentBlock_invest.desktop p          {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 100%; line-height: 24px;}*/

/*.layout_content2.index .layout_content_container4                   {margin-top: 54px; display: inline-block; text-align: center; width: 100%;}*/
/*.layout_content2.index .layout_content_container4 .markers          {display: none;}*/
/*.layout_content2.index .layout_contentBlock_providers               {margin: 0 auto;}*/
/*.layout_content2.index .layout_contentBlock_providers h3            {margin: 0 auto 50px auto; color: #000000; font-size: 260%; font-weight: 400; font-family: GothamPro-Reg, Arial, sans-serif;}*/
/*.layout_content2.index .layout_contentBlock_providers ul            {display: inline-block; margin: 0 auto 45px auto; width: 100%;}*/
/*.layout_content2.index .layout_contentBlock_providers li            {display: inline-block; margin-right: 7%;}*/
/*.layout_content2.index .layout_contentBlock_providers li:last-child {margin-right: 0;}*/
/*.layout_content2.index .layout_contentBlock_providers li a          {display: block;}*/
/*.layout_content2.index .layout_contentBlock_providers .boa          {background: url("../images/main/BoA.png") center center no-repeat; width: 123px; height: 88px; background-size: contain;}*/
/*.layout_content2.index .layout_contentBlock_providers .gsachs       {background: url("../images/main/Goldman.png") center center no-repeat; width: 98px; height: 70px; background-size: contain;}*/
/*.layout_content2.index .layout_contentBlock_providers .dbank        {background: url("../images/main/Deutche.png") center center no-repeat; width: 99px; height: 71px; background-size: contain;}*/
/*.layout_content2.index .layout_contentBlock_providers .jpmorgan     {background: url("../images/main/JP.png") center center no-repeat; width: 107px; height: 76px; background-size: contain;}*/
/*.layout_content2.index .layout_contentBlock_providers .citi         {background: url("../images/main/City.png") center center no-repeat; width: 99px; height: 71px; background-size: contain;}*/
/*.layout_content2.index .layout_contentBlock_providers .csuisse      {background: url("../images/main/CS.png") center center no-repeat; width: 111px; height: 80px; background-size: contain;}*/

/*.layout_content3.index .layout_content_container5         {padding: 0; display: inline-block; text-align: center; width: 100%; background: #ffffff; color: #000000; border-bottom: 1px solid #f5f7f7;}*/
/*.layout_content3.index .layout_contentBlock_resume                {width: 1080px; margin: 55px auto;}*/
/*.layout_content3.index .layout_contentBlock_resume table          {text-align: left; table-layout: auto; margin-bottom: 50px; vertical-align: initial;}*/
/*.layout_content3.index .layout_contentBlock_resume td             {padding: 0 25px; border-right: 1px solid #f5f7f7;}*/
/*.layout_content3.index .layout_contentBlock_resume td:first-child {padding-left: 0;}*/
/*.layout_content3.index .layout_contentBlock_resume td:last-child  {border-right: none; padding-right: 0;}*/
/*.layout_content3.index .layout_contentBlock_resume table img      {float: left; margin-right: 8px;}*/
/*.layout_content3.index .layout_contentBlock_resume .num           {font-family: GothamPro-Light, Arial, sans-serif; font-weight: 100; font-size: 310%;}*/
/*.layout_content3.index .layout_contentBlock_resume .info          {font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; margin-top: 20px; display: inline-block;}*/
/*.layout_content3.index .layout_contentBlock_resume p              {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; line-height: 25px; text-align: left; margin-bottom: 40px;}*/
/*.layout_content3.index .layout_contentBlock_resume p:last-child   {margin-bottom: 57px;}*/