/*Gotham*/
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/GothamPro-Black/GothamPro-Black.eot?') format('eot'),
    url('../fonts/Gothampro/GothamPro-Black/GothamPro-Black.otf')  format('opentype'),
    url('../fonts/Gothampro/GothamPro-Black/GothamPro-Black.woff') format('woff'),
    url('../fonts/Gothampro/GothamPro-Black/GothamPro-Black.ttf')  format('truetype'),
    url('../fonts/Gothampro/GothamPro-Black/GothamPro-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/GothamPro-BlackItalic/GothamPro-BlackItalic.eot?') format('eot'),
    url('../fonts/Gothampro/GothamPro-BlackItalic/GothamPro-BlackItalic.otf')  format('opentype'),
    url('../fonts/Gothampro/GothamPro-BlackItalic/GothamPro-BlackItalic.woff') format('woff'),
    url('../fonts/Gothampro/GothamPro-BlackItalic/GothamPro-BlackItalic.ttf')  format('truetype'),
    url('../fonts/Gothampro/GothamPro-BlackItalic/GothamPro-BlackItalic.svg') format('svg');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/GothamPro-Bold/GothamPro-Bold.eot?') format('eot'),
    url('../fonts/Gothampro/GothamPro-Bold/GothamPro-Bold.otf')  format('opentype'),
    url('../fonts/Gothampro/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
    url('../fonts/Gothampro/GothamPro-Bold/GothamPro-Bold.ttf')  format('truetype'),
    url('../fonts/Gothampro/GothamPro-Bold/GothamPro-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/GothamPro-BoldItalic/GothamPro-BoldItalic.eot?') format('eot'),
    url('../fonts/Gothampro/GothamPro-BoldItalic/GothamPro-BoldItalic.otf')  format('opentype'),
    url('../fonts/Gothampro/GothamPro-BoldItalic/GothamPro-BoldItalic.woff') format('woff'),
    url('../fonts/Gothampro/GothamPro-BoldItalic/GothamPro-BoldItalic.ttf')  format('truetype'),
    url('../fonts/Gothampro/GothamPro-BoldItalic/GothamPro-BoldItalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/GothamPro-Medium/GothamPro-Medium.eot?') format('eot'),
    url('../fonts/Gothampro/GothamPro-Medium/GothamPro-Medium.otf')  format('opentype'),
    url('../fonts/Gothampro/GothamPro-Medium/GothamPro-Medium.woff') format('woff'),
    url('../fonts/Gothampro/GothamPro-Medium/GothamPro-Medium.ttf')  format('truetype'),
    url('../fonts/Gothampro/GothamPro-Medium/GothamPro-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/GothamPro-MediumItalic/GothamPro-MediumItalic.eot?') format('eot'),
    url('../fonts/Gothampro/GothamPro-MediumItalic/GothamPro-MediumItalic.otf')  format('opentype'),
    url('../fonts/Gothampro/GothamPro-MediumItalic/GothamPro-MediumItalic.woff') format('woff'),
    url('../fonts/Gothampro/GothamPro-MediumItalic/GothamPro-MediumItalic.ttf')  format('truetype'),
    url('../fonts/Gothampro/GothamPro-MediumItalic/GothamPro-MediumItalic.svg') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/Gothampro/GothamPro.eot?') format('eot'),
    url('../fonts/Gothampro/Gothampro/GothamPro.otf')  format('opentype'),
    url('../fonts/Gothampro/Gothampro/GothamPro.woff') format('woff'),
    url('../fonts/Gothampro/Gothampro/GothamPro.ttf')  format('truetype'),
    url('../fonts/Gothampro/Gothampro/GothamPro.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/GothamPro-Italic/GothamPro-Italic.eot?') format('eot'),
    url('../fonts/Gothampro/GothamPro-Italic/GothamPro-Italic.otf')  format('opentype'),
    url('../fonts/Gothampro/GothamPro-Italic/GothamPro-Italic.woff') format('woff'),
    url('../fonts/Gothampro/GothamPro-Italic/GothamPro-Italic.ttf')  format('truetype'),
    url('../fonts/Gothampro/GothamPro-Italic/GothamPro-Italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/GothamProNarrow-Bold/GothamProNarrow-Bold.eot?') format('eot'),
    url('../fonts/Gothampro/GothamProNarrow-Bold/GothamProNarrow-Bold.otf')  format('opentype'),
    url('../fonts/Gothampro/GothamProNarrow-Bold/GothamProNarrow-Bold.woff') format('woff'),
    url('../fonts/Gothampro/GothamProNarrow-Bold/GothamProNarrow-Bold.ttf')  format('truetype'),
    url('../fonts/Gothampro/GothamProNarrow-Bold/GothamProNarrow-Bold.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/GothamProNarrow-Medium/GothamProNarrow-Medium.eot?') format('eot'),
    url('../fonts/Gothampro/GothamProNarrow-Medium/GothamProNarrow-Medium.otf')  format('opentype'),
    url('../fonts/Gothampro/GothamProNarrow-Medium/GothamProNarrow-Medium.woff') format('woff'),
    url('../fonts/Gothampro/GothamProNarrow-Medium/GothamProNarrow-Medium.ttf')  format('truetype'),
    url('../fonts/Gothampro/GothamProNarrow-Medium/GothamProNarrow-Medium.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/GothamPro-Light/GothamPro-Light.eot?') format('eot'),
    url('../fonts/Gothampro/GothamPro-Light/GothamPro-Light.otf')  format('opentype'),
    url('../fonts/Gothampro/GothamPro-Light/GothamPro-Light.woff') format('woff'),
    url('../fonts/Gothampro/GothamPro-Light/GothamPro-Light.ttf')  format('truetype'),
    url('../fonts/Gothampro/GothamPro-Light/GothamPro-Light.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src:
    url('../fonts/Gothampro/GothamPro-LightItalic/GothamPro-LightItalic.eot?') format('eot'),
    url('../fonts/Gothampro/GothamPro-LightItalic/GothamPro-LightItalic.otf')  format('opentype'),
    url('../fonts/Gothampro/GothamPro-LightItalic/GothamPro-LightItalic.woff') format('woff'),
    url('../fonts/Gothampro/GothamPro-LightItalic/GothamPro-LightItalic.ttf')  format('truetype'),
    url('../fonts/Gothampro/GothamPro-LightItalic/GothamPro-LightItalic.svg') format('svg');
    font-weight: 100;
    font-style: italic;
}

/*Roboto*/
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-ThinItalic.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
    font-weight: 100;
    font-style: normal;
}

/*Proxima Nova*/
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima_Nova/ProximaNova-Black.otf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima_Nova/ProximaNova-Xbold.otf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima_Nova/ProximaNova-Bold.otf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima_Nova/ProximaNova-BoldIt.otf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima_Nova/ProximaNova-Reg.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima_Nova/ProximaNova-RegIt.otf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima_Nova/ProximaNova-Light.otf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/Proxima_Nova/ProximaNova-LightIt.otf);
    font-weight: 300;
    font-style: normal;
}