/*Gotham*/
@font-face {
    font-family: GothamPro-Black;
    src: url(../fonts/Gotham/GothaProBla.otf);
}
@font-face {
    font-family: GothamPro-BlackIt;
    src: url(../fonts/Gotham/GothaProBlaIta.otf);
}
@font-face {
    font-family: GothamPro-Bold;
    src: url(../fonts/Gotham/GothaProBol.otf);
}
@font-face {
    font-family: GothamPro-BoldIt;
    src: url(../fonts/Gotham/GothaProBolIta.otf);
}
@font-face {
    font-family: GothamPro-Med;
    src: url(../fonts/Gotham/GothaProMed.otf);
}
@font-face {
    font-family: GothamPro-MedIt;
    src: url(../fonts/Gotham/GothaProMedIta.otf);
}
@font-face {
    font-family: GothamPro-Reg;
    src: url(../fonts/Gotham/GothaProReg.otf);
}
@font-face {
    font-family: GothamPro-It;
    src: url(../fonts/Gotham/GothaProIta.otf);
}
@font-face {
    font-family: GothamPro-NarBold;
    src: url(../fonts/Gotham/GothaProNarBol.otf);
}
@font-face {
    font-family: GothamPro-NarMed;
    src: url(../fonts/Gotham/GothaProNarMed.otf);
}
@font-face {
    font-family: GothamPro-Light;
    src: url(../fonts/Gotham/GothaProLig.otf);
}
@font-face {
    font-family: GothamPro-LightIt;
    src: url(../fonts/Gotham/GothaProLigIta.otf);
}

/*Roboto*/
@font-face {
    font-family: Roboto-Black;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: Roboto-BlackIt;
    src: url(../fonts/Roboto/Roboto-BlackItalic.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-BoldIt;
    src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
}
@font-face {
    font-family: Roboto-Med;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-MedIt;
    src: url(../fonts/Roboto/Roboto-MediumItalic.ttf);
}
@font-face {
    font-family: Roboto-Reg;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-It;
    src: url(../fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: Roboto-ThinIt;
    src: url(../fonts/Roboto/Roboto-ThinItalic.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-LightIt;
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}

/*Proxima Nova*/
@font-face {
    font-family: ProximaNova-Black;
    src: url(../fonts/Proxima_Nova/ProximaNova-Black.otf);
}
@font-face {
    font-family: ProximaNova-Xbold;
    src: url(../fonts/Proxima_Nova/ProximaNova-Xbold.otf);
}
@font-face {
    font-family: ProximaNova-Bold;
    src: url(../fonts/Proxima_Nova/ProximaNova-Bold.otf);
}
@font-face {
    font-family: ProximaNova-BoldIt;
    src: url(../fonts/Proxima_Nova/ProximaNova-BoldIt.otf);
}
@font-face {
    font-family: ProximaNova-Reg;
    src: url(../fonts/Proxima_Nova/ProximaNova-Reg.otf);
}
@font-face {
    font-family: ProximaNova-RegIt;
    src: url(../fonts/Proxima_Nova/ProximaNova-RegIt.otf);
}
@font-face {
    font-family: ProximaNova-Light;
    src: url(../fonts/Proxima_Nova/ProximaNova-Light.otf);
}
@font-face {
    font-family: ProximaNova-LightIt;
    src: url(../fonts/Proxima_Nova/ProximaNova-LightIt.otf);
}