/*Gotham*/
@font-face {
    font-family: GothamPro-Black;
    src: url(../fonts/Gotham/GothaProBla.otf);
}
@font-face {
    font-family: GothamPro-BlackIt;
    src: url(../fonts/Gotham/GothaProBlaIta.otf);
}
@font-face {
    font-family: GothamPro-Bold;
    src: url(../fonts/Gotham/GothaProBol.otf);
}
@font-face {
    font-family: GothamPro-BoldIt;
    src: url(../fonts/Gotham/GothaProBolIta.otf);
}
@font-face {
    font-family: GothamPro-Med;
    src: url(../fonts/Gotham/GothaProMed.otf);
}
@font-face {
    font-family: GothamPro-MedIt;
    src: url(../fonts/Gotham/GothaProMedIta.otf);
}
@font-face {
    font-family: GothamPro-Reg;
    src: url(../fonts/Gotham/GothaProReg.otf);
}
@font-face {
    font-family: GothamPro-It;
    src: url(../fonts/Gotham/GothaProIta.otf);
}
@font-face {
    font-family: GothamPro-NarBold;
    src: url(../fonts/Gotham/GothaProNarBol.otf);
}
@font-face {
    font-family: GothamPro-NarMed;
    src: url(../fonts/Gotham/GothaProNarMed.otf);
}
@font-face {
    font-family: GothamPro-Light;
    src: url(../fonts/Gotham/GothaProLig.otf);
}
@font-face {
    font-family: GothamPro-LightIt;
    src: url(../fonts/Gotham/GothaProLigIta.otf);
}