.layout_header .layout_header_container .triangle.invest {left: 35px;}

/*Rating*/
.section.rating.full                     {margin-bottom: -70px; background: url("../images/rating/Bg_rating.png") center no-repeat; background-size: cover; height: 507px;}
.section.rating.full .title              {width: 100%; display: inline-block;}
.section.rating.full h2              {color: #f5f7f7; text-align: left; float: left;}
.section.rating.full .blue                   {float: right; margin: 50px 0; text-align: right;}
.section.rating.full .blue img               {vertical-align: middle; margin-right: 5px;}
.section.rating.full .carousel                  {display: inline-block; padding: 0; clear: both;}
.section.rating.full .carousel .item            {color: #ffffff; width: 250px; margin-right: 25px; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 110%; line-height: 25px; text-align: left;}
.section.rating.full .carousel .item:last-child {margin-right: 0;}
.section.rating.full .carousel .image_wrap      {height: 126px; width: 126px; margin-bottom: 35px; border-radius: 50%; border: 2px solid #364650; text-align: center; line-height: 118px;}
.section.rating.full .carousel .image_wrap img  {vertical-align: middle;}
.section.rating .show_filter {display: none;}
.section.rating                                    {height: auto;}
.section.rating .item.left                                          {width: 807px; height: auto; background: #ffffff; padding: 0;}
.section.rating .item.left tr                                       {cursor: pointer;}
.section.rating .item.left tr td                                    {position: relative;}
.section.rating .item.left tr .arrow_down                          {display: none; position: absolute; top: 40px; right: 30px;}
.section.rating .item.left tr.dropdown                              {display: none; box-shadow: 0px 5px 35px 0px rgba(54, 72, 89, 0.2);}
.section.rating .item.left tr:hover                                 {background: #f5f7f7;}
.section.rating .item.left tr:hover .arrow_down                     {display: block;}
.section.rating .item.left tr.dropdown:hover                        {background: #ffffff;}
.section.rating .item.left tr.dropdown td                           {padding: 0;}
.section.rating .item.left tr:first-child:hover                     {background: #ffffff;}
.section.rating .item.left th                                       {font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; color: #9b9a9a; border-bottom: 1px solid #f5f7f7; padding: 15px 20px; vertical-align: bottom; text-align: left;}
.section.rating .item.left th select                                {font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; color: #0a79bf; border: none; padding: 0; height: 22px; background: transparent;}
.section.rating .item.left th select:hover                          {box-shadow: none;}
.section.rating .item.left td                                       {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; color: #181818; font-size: 140%; border-bottom: 1px solid #f5f7f7; padding: 30px 20px; vertical-align: middle; text-align: left;}
.section.rating .item.left td:first-child                           {color: #0a79bf; font-size: 150%;}
.section.rating .item.left table .col.left                          {width: 350px; color: #181818; display: inline-block; margin-left: 30px;}
.section.rating .item.left table .col.right                         {margin: 10px; width: 396px; color: #181818; display: inline-block; background: #f5f7f7;}
.section.rating .item.left table .col.left h4                       {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 100%; margin: 30px 0;}
.section.rating .item.left table .col.left p                        {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 80%; margin-bottom: 30px;}
.section.rating .item.left table .col.left .info                    {line-height: 20px; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 125%; width: 100%; height: 85px; background: #f5f7f7;}
.section.rating .item.left table .col.left .info .block             {float: left; width: 30%; margin: 20px 0;}
.section.rating .item.left table .col.left .info .block:first-child {margin-left: 20px;}
.section.rating .item.left table .col.left .info span               {font-size: 55%;}
.section.rating .item.left table .col.left .ways                    {display: inline-block; margin-bottom: 20px;}
.section.rating .item.left table .col.left .ways li                 {color: #0a79bf; font-size: 80%; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; margin-bottom: 10px;}
.section.rating .item.left table .col.left .ways li:before          {content: ""; background: url("../images/rating/Check_bullit.svg") center no-repeat; width: 15px; height: 15px; display: inline-block; margin-right: 10px;}
.section.rating .item.left table .col.left .blue                    {font-size: 70%; margin: 0 auto 30px auto;}
.section.rating .item.left table .col.left .blue img                {display: inline-block; vertical-align: middle;}
.section.rating .item.left table .col.right h4                      {font-family: Roboto-Bold, Arial, sans-serif; font-weight: 700; font-size: 110%; margin: 26px 0 26px 30px;}
.section.rating .item.left table .col.right .note                   {width: 308px; line-height: 21px; font-size: 68%; padding: 17px 0 17px 24px; border-left: 3px solid #0a79bf; margin: 0 auto; display: block; background: #ffffff;}
.section.rating .item.left table .col.right .note a                 {text-decoration: underline; color: #0a79bf;}
.section.rating .item.left table .col.right form                    {margin-top: 25px; margin-left: 30px; display: inline-block;}
.section.rating .item.left table .col.right label                   {line-height: 40px; float: left; width: 100px; margin-right: 35px; font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; font-size: 80%;}
.section.rating .item.left table .col.right input                   {float: left; margin-bottom: 20px; width: 127px; height: 39px; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 80%; border: 2px solid #e8eaeb; background: #ffffff;}
.section.rating .item.left table .col.right select                  {margin-right: 10px; float: left; margin-bottom: 20px; width: 70px; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 80%;}
.section.rating .item.left table .col.right .tooltip               {line-height: 42px; float: right; width: 20px; height: 20px; position: relative; display: block;}
.section.rating .item.left table .col.right .tooltip a               {display: block;}
.section.rating .item.left table .col.right .tooltip img               {vertical-align: middle;}
.section.rating .item.left table .col.right .red                    {margin: 10px auto 30px auto; font-size: 90%;}
.section.rating .item.right                                                   {width: 262px; height: auto; background: transparent; padding: 0;}
.section.rating .item.right label                                             {font-weight: 500; font-family: Roboto-Med, Arial, sans-serif; color: #181818; font-size: 118%; margin-bottom: 15px; display: block;}
.section.rating .item.right input                                             {margin: 0 auto 30px auto; font-family: Roboto-Reg, Arial, sans-serif; display: block; width: 175px; height: 39px; border: 2px solid #e8eaeb; background: transparent;}
.section.rating .item.right .blue                                             {margin: 0 auto;}
.section.rating .item.right .note                                             {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; line-height: 19px; color: #181818; margin-top: 30px; display: inline-block;}
.section.rating .item.right .search                                           {position: relative; display: inline-block;}
.section.rating .item.right .search img                                       {position: absolute; top: 73px; left: 170px;}
.section.rating .item.right .filter                                           {display: inline-block; background: #ffffff; margin-bottom: 10px; padding: 0 33px 30px 33px;}
.section.rating .item.right .filter .item                                           {float: none; display: inline-block; width: 100%; margin-bottom: 20px;}
.section.rating .item.right .filter label                                           {line-height: 25px; margin-top: 20px;}
.section.rating .item.right .filter input[type="search"]                      {margin-bottom: 0; font-family: Roboto-Reg, Arial, sans-serif; display: block; width: 195px; height: 39px; border: 2px solid #e8eaeb; background: transparent;}
.section.rating .item.right .calc                                             {display: inline-block; background: #ffffff; margin-bottom: 10px; padding: 30px;}
.section.rating .item.right .calc img                                         {float: left; margin-right: 10px; margin-top: 6px;}
.section.rating .item.right .calc h4                                          {float: left; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; width: 154px; line-height: 23px; color: #181818; font-size: 148%;}
.section.rating .item.right .calc select                                      {margin-bottom: 30px; font-family: Roboto-Reg, Arial, sans-serif; display: block; width: 197px; height: 43px;}
.section.rating .item.right .spred                                            {display: inline-block; background: #ffffff; padding: 30px;}
.section.rating .item.right .spred h4                                         {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; line-height: 23px; color: #181818; font-size: 148%;}
.section.rating .item.right .radio                                            {position: relative; display: inline-block; margin-bottom: 15px;}
.section.rating .item.right .radio label                                      {padding-left: 25px; line-height: 20px;}
.section.rating .item.right .radio input[type="radio"]                        {display: none;}
.section.rating .item.right .radio label:before                               {content: ""; display: inline-block; width: 11px; height: 12px; margin-right: 10px; position: absolute; left: 0; background: transparent; border: 2px solid #e8eaeb; border-radius: 50%;}
.section.rating .item.right .radio label.hand:before                          {top: 2px;}
.section.rating .item.right .radio label.luck:before                          {top: 36px;}
.section.rating .item.right .radio label.best:before                          {top: 72px;}
.section.rating .item.right .radio input[type="radio"]:checked + label:before {content: "\2022"; color: #218ed2; font-size: 26px; text-align: center; line-height: 12px; border-color: #218ed2;}
.section.rating  .jslider_round .jslider-pointer {background: #0a79bf; width: 14px; height: 14px; box-shadow: 0px 1px 10px 0px rgba(10, 121, 191, 0.25); border-radius: 50%;}
.section.rating .jslider .jslider-bg i {background: #e8eaeb;}
.section.rating .jslider .jslider-bg .v {background: #8fc4e6;}
.section.rating .jslider .jslider-scale ins {font-size: 11px; font-family: Roboto-Reg, Arial, sans-serif;}

/*TIS*/
.section.full.tis                                          {margin-bottom: -70px; background: url("../images/tis/Bg_tis.png") center no-repeat; background-size: cover; height: 507px;}
.section.full.tis .wrapper                                         {text-align: left;}
.section.full.tis h2             {color: #ffffff;}
.section.full.tis p              {color: #ffffff;}
.section.full.tis .white_outline {margin: 42px auto 90px auto;}
.section.lower.tis .item                     {width: 536px; height: auto; background: #ffffff; padding: 0;}
.section.lower.tis .item img                    {width: 100%;}
.section.lower.tis h3                   {margin: 30px auto 30px 30px; width: 350px; color: #303841; font-family: Roboto-Reg, Arial, sans-serif; font-size: 173%; font-weight: 400; line-height: 28px;}
.section.lower.tis p                    {margin: 0 30px 30px 30px; color: #2a333c;}
.section.lower.tis .button_wrapper                     {margin-bottom: 40px;}

/*Direct invest*/
.section.deal .banner      {display: inline-block; padding: 0; width: 100%; height: 398px; background: url("../images/pryam_invest/Banner1.png") center no-repeat; background-size: cover;}
.section.deal .banner h3   {margin: 48px 0 0 50px; display: inline-block; color: #ffffff; font-size: 243%; line-height: 35px; width: 350px;}
.section.deal h4          {color: #303841; margin: 20px 0 30px 0; font-size: 172%; line-height: 37px;}
.section.deal p           {color: #303841; margin-bottom: 30px;}
.section.deal img         {margin-bottom: 20px;}
.section.deal .image_banner {margin-left: -20px;}
.section.deal .bold       {font-family: Roboto-Bold, Arial, sans-serif; font-weight: 700; font-size: 100%;}
.section.deal a           {text-decoration: underline; color: #0a79bf;}
.section.deal .left        {width: 747px;}
.section.deal .right       {font-size: 100%; width: 262px;}
.section.deal .example    {background: #ffffff; padding: 30px 30px 10px 30px; margin-bottom: 30px;}
.section.deal img.desktop {display: block;}
.section.deal img.tablet  {display: none;}

/*Copy deal*/
.section.deal .banner {background: url("../images/copi_sdel/Banner1.png") center;}
.section.deal .example h4 {font-size: 145%; color: #2a333c;}
.section.deal .example p {font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; color: #2a333c;}

/*Be trader*/
.section.be_trader .left             {padding: 30px; width: 416px; background: #ffffff; margin-right: 10px;}
.section.be_trader .left label       {line-height: 42px; float: left; width: 100px; font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; font-size: 118%;}
.section.be_trader .left input       {float: left; margin-bottom: 20px; font-family: Roboto-Reg, Arial, sans-serif; display: block; width: 277px;}
.section.be_trader .right            {width: 202px; padding: 55px 30px; background: #218ed2; float: left; text-align: center;}
.section.be_trader .right p          {color: #ffffff; margin: 0 20px; font-family: ProximaNova-Bold, Helvetica, sans-serif; font-weight: 700; font-size: 140%;}
.section.be_trader .left .forget     {float: left; margin-right: 40px; line-height: 40px; color: #218ed2; font-size: 118%; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400;}

/*Invest programm*/
.section.invest .button_wrapper                      {margin: 40px 0;}
.section.invest .rules table                         {margin: 15px 0;}
.section.invest .rules tr h3                         {line-height: 30px; color: #2a333c; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 175%; margin: 0;}
.section.invest .rules tr:first-child td:first-child {font-size: 175%;}
.section.invest .rules td:first-child                {color: #218ed2; width: 60px;}
.section.invest .rules td                            {line-height: 27px; padding: 15px 0; vertical-align: top; color: #2a333c; margin-bottom: 30px; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%;}

/*Steps*/
.section.invest.full   {text-align: center; width: 100%; display: inline-block; margin-bottom: -185px;}
.section.invest.full.step1   {background: url("../images/open_invest/Bg_invest1.png") center no-repeat; background-size: cover;}
.section.invest h2                                                        {color: #2a333c; text-align: center;}
.section.invest.steps                                                        {background: #ffffff;}
.section.invest.steps .rules                                                       {padding: 0 30px;}
.section.invest .navigation .button_left,
.section.invest .navigation .button_right {display: none;}
.section.invest .discription                              {padding: 0; text-align: center;}
.section.invest .discription ul                             {display: inline-block; margin: 0 auto 55px auto;}
.section.invest .discription ul li                          {display: inline-block;}
.section.invest .discription ul li a                        {display: inline-block; width: 90px; height: 39px; border-radius: 22px; border: 2px dotted #2a333c; line-height: 36px; font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; font-size: 130%; color: #2a333c; margin: 0 15px;}
.section.invest .discription ul li a.active                 {border: 2px solid #2a333c; color: #ffffff; background: #2a333c;}
.section.invest .table_steps                                         {margin-bottom: 240px;}
.section.invest .table_steps table                                        {width: 100%;}
.section.invest .table_steps td                                           {vertical-align: top; width: 320px; padding: 30px 30px 20px 0; text-align: left; color: #2a333c; font-size: 130%; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; line-height: 27px;}
.section.invest .table_steps td:before                                    {margin: 0 5px 0 0; content: ""; width: 12px; height: 12px; border-radius: 50%; background: #218ed2; display: inline-block;}
.section.invest .table_steps .blue                                        {font-size: 90%;}
.section.invest .table_steps .td_button                                   {vertical-align: middle;}
.section.invest .table_steps .td_button:before                            {display: none;}
.section.invest .rules table                         {margin: 15px 0;}
.section.invest .rules tr h3                         {line-height: 30px; color: #2a333c; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 175%; margin: 0;}
.section.invest .rules tr:first-child td:first-child {font-size: 175%;}
.section.invest .rules td:first-child                {color: #218ed2; width: 60px;}
.section.invest .rules td                            {line-height: 27px; padding: 15px 0; vertical-align: top; color: #2a333c; margin-bottom: 30px; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%;}
.section.invest .rules td a                          {color: #218ed2; text-decoration: underline;}

.section.invest.full.step3                                           {background-size: cover; background: url("../images/open_invest/Bg_invest2.png") center no-repeat;}
.section.invest.full.step3 h2                                        {color: #ffffff;}
.section.invest.full.step3 .discription ul li a        {color: #ffffff; border-color: #ffffff;}
.section.invest.full.step3 .discription ul li a.active {color: #ffffff; border-color: #218ed2; background: #218ed2;}
.section.invest.full.step3 .table_steps td                           {color: #ffffff;}

.section.invest.full.step4    {background: url("../images/open_invest/Bg_invest3.png") center no-repeat;}
.section.invest.full.step6    {background: url("../images/open_invest/Bg_invest4.png") center no-repeat; height: 800px;}
.section.invest.full.step6 h3 {color: #ffffff; font-size: 235%; font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; margin: 15px auto; width: 720px; display: inline-block;}

/*Open invest*/
.section.open .download_mobius                         {display: none;}
.section.open form                        {position: relative;}
.section.open form .calendar              {position: absolute; top: 80px; right: 20px;}
.section.open .checkbox                   {text-align: right; margin-right: 100px;}
.section.open label[for="promo_cod"] span {color: #9b9a9a;}
.section.open .download              {margin-bottom: 10px; text-align: center; display: inline-block; background: #ffffff; padding: 30px 25px; width: 212px; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; color: #2a333c;}
.section.open .download span         {color: #ff4830; font-size: 260%;}
.section.open .docs                  {background: #ffffff; padding: 30px; width: 202px;}
.section.open a                      {text-align: left; padding: 0; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; color: #218ed2; font-size: 118%;}
.section.open .notice                     {border-bottom: 1px solid #eef1f2; line-height: 27px; padding-bottom: 30px; width: 100%; font-size: 135%; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; color: #181818;}
.section.open .notice img                 {height: 50px; margin-right: 20px; float: left;}
.section.open .more                 {width: 628px;}