.layout_header .layout_header_container .triangle.company {left: 46px;}

/*About*/
.section.about1                                             {margin-bottom: -5px; background: url("../images/about/Bg_about.png") center; background-size: cover; height: 359px;}
.section.about1 h2                                        {color: #ffffff; text-align: left;}
.section.about1 p                                         {text-align: left; font-family: Roboto, Arial, sans-serif; font-weight: 400; font-size: 135%; color: #ffffff; line-height: 30px;}
.section.about2                                             {margin-bottom: 0; overflow: inherit; height: 480px;}
.section.about2 .image                  {margin-bottom: -5px; position: absolute; right: 45%; top: -37px;}
.section.about2 .about_us               {width: 50%; float: right; text-align: left;}
.section.about2 .about_us h2            {margin-top: 45px; color: #2a333c;}
.section.about2 .about_us p             {color: #2f3841;}
.section.about2 .about_us .apps         {width: 215px; display: inline-block; margin-top: 50px; margin-right: 40px; float: right;}
.section.about2 .about_us .blue         {float: left; margin-top: 40px;}
.section.about2 .about_us .win          {margin: 0 15px; display: inline-block; background: url("../images/demo_account/Windows_blue.svg") center center no-repeat; background-size: cover; width: 18px; height: 18px;}
.section.about2 .about_us .apple        {margin: 0 15px; display: inline-block; background: url("../images/demo_account/Apple_blue.svg") center center no-repeat; background-size: cover; width: 18px; height: 22px;}
.section.about2 .about_us .android      {margin: 0 15px; display: inline-block; background: url("../images/demo_account/Android_blue.svg") center center no-repeat; background-size: cover; width: 20px; height: 23px;}
.section.about2 .about_us .web          {margin: 0 15px; display: inline-block; background: url("../images/demo_account/Web_blue.svg") center center no-repeat; background-size: cover; width: 20px; height: 20px;}
.section.about3                         {margin-bottom: -5px; height: 492px; background: #ffffff;}
.section.about3 .items                  {padding: 0; display: inline-block; width: 1080px; margin: 0 auto 75px auto;}
.section.about3 .items .item            {color: #2f3841; float: left; width: 250px; margin-right: 25px; margin-top: 20px; font-family: Roboto, Arial, sans-serif; font-weight: 400; font-size: 110%; line-height: 25px; text-align: left;}
.section.about3 .items .item span       {max-width: 225px;}
.section.about3 .items .item:last-child {margin-right: 0;}
.section.about3 .items .image_wrap      {height: 126px; width: 126px; margin-bottom: 35px; border-radius: 50%; border: 2px solid #eef1f2; text-align: center; line-height: 118px;}
.section.about3 .items .image_wrap img  {vertical-align: middle;}
.section.about4                                             {margin-bottom: -5px; background: #ff4830; height: 200px;}
.section.about4 h4                {color: #ffffff; font-family: GothamPro, Arial, sans-serif; font-weight: 400; font-size: 230%; margin-top: 35px;}
.section.about4 .button_wrapper            {margin: 0 auto 40px auto;}
.section.about5                                             {margin-bottom: -5px; height: 477px;}
.section.about5 .wrapper                                            {width: 100% !important;}
.section.about5 .item                      {width: 50%; margin: 0; background-size: cover; height: 477px; padding: 0;}
.section.about5 .item.left                   {background: url("../images/about/Img_about1.png") center no-repeat;}
.section.about5 .item.right                  {background: url("../images/about/Img_about2.png") center no-repeat;}
.section.about5 .item h3                     {line-height: 37px; width: 400px; text-align: left;}
.section.about5 .item p                      {line-height: 27px; text-align: left; font-family: Roboto, Arial, sans-serif; font-weight: 400; font-size: 110%;}
.section.about5 .item.left                   {color: #ffffff;}
.section.about5 .item.right                  {color: #2f3841;}
.section.about5 .item.right h3               {width: 175px;}
.section.about5 .item.left .text             {display: inline-block; margin: 50px 50px 50px auto; float: right; width: 480px; text-align: left;}
.section.about5 .item.right .text            {display: inline-block; margin: 50px auto 50px 50px; float: left; width: 480px; text-align: left;}


/*Why we*/
.section.why1                                      {margin-bottom: -5px; background: url("../images/pochemu/Bg_pochemu1.png") center; background-size: cover; height: 690px;}
.section.why1 .button_wrapper                      {padding: 0; position: absolute; bottom: 140px; left: 0; width: 230px; text-align: center;}
.section.why1 .button_wrapper a                     {margin: 10px auto;}
.section.why1 .table                        {padding: 0; margin: 80px auto;}
.section.why1 h2                       {color: #ffffff; line-height: 42px; float: left; width: 300px; text-align: left; margin-top: 70px;}
.section.why1 .carousel                {color: #ffffff; width: 100%; margin-top: 80px;}
.section.why1 .item                {text-align: left; width: 220px; line-height: 25px; padding: 0 25px 30px 0; font-family: Roboto, Arial, sans-serif; font-weight: 400; font-size: 110%; vertical-align: top;}
.section.why1 .item img            {display: block; margin-bottom: 25px; }
.section.why1 .item .bold          {font-family: Roboto, Arial, sans-serif; font-weight: 700; font-size: 118%;}
.section.why1 .red           {width: 229px; height: 39px; line-height: 36px; border-radius: 22px; margin: 20px auto;}
.section.why1 .dashed        {width: 134px; height: 39px; line-height: 36px; border-radius: 22px; margin: 0 auto; display: block;}
.section.why2                               {margin-bottom: -5px; background: transparent; height: auto;}
.section.why2 .mobius                       {padding: 0;}
.section.why2 h2                      {color: #2a333c; text-align: center; margin: 60px 0 40px 0;}
.section.why2 img                     {width: 1025px; float: left; margin-top: 30px; margin-left: -350px;}
.section.why2 .blue                   {margin-bottom: 40px; float: right; margin-right: 80px; padding-right: 10px}
.section.why2 .blue img               {width: 12px; float: right; margin: 8px 10px;}
.section.why2 ul li                   {text-align: left; width: 300px; display: inline-block; padding-left: 30px; margin: 15px 0; color: #2f3841; font-family: Roboto, Arial, sans-serif; font-weight: 400; font-size: 118%; line-height: 25px;}
.section.why2 table                      {margin-top: -30px; display: inline-block; margin-bottom: 30px; text-align: left;}
.section.why2 td                      {padding: 15px; vertical-align: top; color: #2f3841; font-family: Roboto, Arial, sans-serif; font-weight: 400; font-size: 118%; line-height: 25px;}
.section.why2 ul li:before            {content: ""; width: 11px; height: 11px; border-radius: 50%; background: #218ed2; margin-right: 10px; display: inline-block;}
.section.why2 td:before               {content: ""; width: 11px; height: 11px; border-radius: 50%; background: #218ed2; margin-right: 10px; display: inline-block;}
.section.why3                                                    {margin-bottom: -5px; background: url("../images/pochemu/Bg_pochemu2.png") center; background-size: cover; text-align: center; width: 100%; height: 846px; display: inline-block; max-width: none; }
.section.why3 h2                       {color: #ffffff; text-align: left;}
.section.why3 .carousel                         {width: 1080px; margin: 0 auto; padding: 0;}
.section.why3 .carousel .item                    {width: 490px; float: left; margin-bottom: 50px; font-family: Roboto, Arial, sans-serif; font-weight: 400; color: #ffffff; font-size: 110%; text-align: left; line-height: 27px;}
.section.why3 .carousel .item:nth-child(2n + 1)  {padding-right: 90px;}
.section.why3 .carousel .item .title_wrap img    {float: left; margin: 0 10px 10px 0;}
.section.why3 .carousel .item .title_wrap h4     {margin-bottom: 10px; font-weight: 400; font-size: 145%; font-family: Roboto, Arial, sans-serif; line-height: 40px;}
.section.why4                                                    {margin-bottom: -5px; background: url("../images/pochemu/Bg_pochemu3.png") center; background-size: cover; text-align: center; width: 100%; height: 509px; display: inline-block; max-width: none; }
.section.why4 h2                       {color: #ffffff; line-height: 40px;}
.section.why4 p.paragraph                       {color: #ffffff;}
.section.why4 .item.left h2                       {padding-right: 150px;}
.section.why4 .item.right h2                      {padding-left: 150px;}
.section.why4 .item.left                          {text-align: left; width: 440px;}
.section.why4 .item.right                         {text-align: right; width: 440px;}
.section.why4 .item.right .bold                   {font-family: Roboto, Arial, sans-serif; font-weight: 700; margin-top: 40px; display: inline-block;}

/*Providers*/
.section.providers .paragraph {margin-bottom: 30px;}
.section.providers .left       {width: 534px; padding: 0; background: transparent; display: inline-block;}
.section.providers .right                      {width: 434px; height: 454px; padding: 40px 50px; background: #ffffff; color: #181818; margin-left: 10px;}
.section.providers .left .link                 {float: left; width: 262px; height: 262px; background: #ffffff; margin-bottom: 10px; text-align: center;}
.section.providers .left .link:nth-child(2n+1) {margin-right: 10px;}
.section.providers .left .link a               {display: inline-block; width: 254px; height: 254px; line-height: 254px;}
.section.providers .left .link a.active        {border: 4px solid #0a79bf;}
.section.providers .left .link img             {vertical-align: middle;}
.section.providers .right h4                   {font-family: GothamPro, Arial, sans-serif; font-weight: 400; font-size: 180%; margin-bottom: 20px;}
.section.providers .right p                    {padding: 30px 0 0 0; border-top: 1px solid #eef1f2;}
.section.providers .right a                    {color: #218ed2; text-decoration: underline; font-size: 118%; margin-bottom: 30px;}

/*News*/
.section.news                {overflow: inherit; margin-bottom: 0;}
.section.news .years                {width: 60%; text-align: right; position: absolute; right: 0; top: -143px; line-height: 143px;}
.section.news .years.lower                {top: auto; bottom: 0;}
.section.news .years li            {display: inline-block;}
.section.news .years li.mobile            {display: none;}
.section.news .years li a          {font-family: Roboto, Arial, sans-serif; font-weight: 400; border-radius: 22px; text-align: center; font-size: 135%; color: #0a79bf; width: 74px; height: 44px; background: transparent; line-height: 40px;}
.section.news .years li a.active   {color: #ffffff; background: #0a79bf;}

.section.news .news_block {width: 1020px; padding: 30px; height: auto; display: inline-block; background: #ffffff; margin: 0 auto 10px auto;}
.section.news .news_block:last-child {margin-bottom: 143px;}
.section.news .date       {float: left; color: #a7abad; width: 10%;}
.section.news .num        {float: left; font-size: 243%; font-weight: 500; font-family: GothamPro, Arial, sans-serif; margin-right: 8px;}
.section.news .month      {font-size: 100%; font-weight: 400; font-family: GothamPro, Arial, sans-serif;}
.section.news .article    {float: left; width: 90%; color: #181818;}
.section.news .article h4 {font-family: Roboto, Arial, sans-serif; font-weight: 400; font-size: 150%; margin-bottom: 20px;}
.section.news .article p  {margin-bottom: 20px;}
.section.news .grey       {width: 118px;}

/*Contacts*/
.section.contacts .col.left                                         {float: left; width: 534px; padding: 0;}
.section.contacts .radio                                            {display: inline-block; margin-bottom: 0;}
.section.contacts .radio label                                      {margin-top: 0; font-family: Roboto, Arial, sans-serif; font-weight: 500; font-size: 135%; color: #218ed2;}
.section.contacts .radio label .adress                              {height: 86px; display: inline-block;}
.section.contacts .radio label .phone                               {color: #181818; line-height: 35px;}
.section.contacts .radio label .phone img                           {margin-right: 10px; vertical-align: middle;}
.section.contacts .radio input[type="radio"]:checked + label .phone {color: #ffffff;}
.section.contacts .radio label:before                               {display: none;}
.section.contacts .radio label:last-child                           {margin-right: 0;}
.section.contacts .col.right                                        {float: right; width: 534px; height: auto; padding: 0; color: #181818; margin-left: 10px;}
.section.contacts .col.right ul                                     {display: inline-block;}
.section.contacts .col.right li                                     {float: left; width: 202px; padding: 30px; height: 110px; background: #ffffff; margin-bottom: 10px;}
.section.contacts .col.right li:nth-child(2n+1)                     {margin-right: 10px;}
.section.contacts .col.right li img                                 {margin-right: 7px; vertical-align: middle;}
.section.contacts .col.right li p                                   {font-family: Roboto, Arial, sans-serif; font-weight: 500; font-size: 135%; line-height: 20px; margin: 0;}
.section.contacts .col.right li a                                   {margin: 20px auto 15px auto; font-family: Roboto, Arial, sans-serif; font-weight: 400; font-size: 118%; color: #218ed2; text-decoration: underline;}
.section.contacts .col.right .regime                                {font-family: Roboto, Arial, sans-serif; font-weight: 400; font-size: 135%; line-height: 20px;}
.section.contacts .radio label                                      {position: relative; line-height: 25px; margin-right: 10px; font-weight: 400; font-family: Roboto, Arial, sans-serif; padding: 19px 30px; width: 198px; height: 128px; float: left; border: 2px solid #ffffff; background: transparent;}
.section.contacts .radio label .title                               {color: #218ed2; display: inline-block; margin: 0 0 0 30px; font-size: 100%; font-weight: 500; font-family: Roboto, Arial, sans-serif;}
.section.contacts .radio label .text                                {font-size: 78%; font-weight: 400; font-family: Roboto, Arial, sans-serif;}
.section.contacts .radio input[type="radio"]                        {display: none;}
.section.contacts .radio input[type="radio"]:checked + label        {border-color: #218ed2; background: #218ed2; color: #ffffff;}
.section.contacts .radio input[type="radio"]:checked + label .title {color: #ffffff;}










































