.layout_header .layout_header_container .triangle.partner {border: 24px solid transparent;	border-bottom: 24px solid #0a79c0; width: 0; position: absolute; top: 50px; left: 28px;}

/*Partner programm*/
.layout_content1.partner                                                           {background: url("../images/partner/Bg_partner.png") center; background-size: cover; text-align: center; width: 100%; height: 580px; display: inline-block; max-width: none; }
.layout_content1.partner .layout_content_container1                                {margin: 45px auto; width: 1080px; height: auto; text-align: center;}
.layout_content1.partner .layout_content_container1 h2                             {width: 100%; font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 300%; color: #ffffff; margin-bottom: 45px;}
.layout_content1.partner .layout_content_container1 .layout_contentBlock_items     {display: inline-block; margin-bottom: 50px;}
.layout_content1.partner .layout_content_container1 .item                          {float: left; width: 33%;}
.layout_content1.partner .layout_content_container1 .item .image_wrap              {height: 160px;}
.layout_content1.partner .layout_content_container1 .item img                      {display: block; margin: 20px auto;}
.layout_content1.partner .layout_content_container1 h3                             {line-height: 30px; width: 100%; font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 165%; text-decoration: underline; color: #abdfff; margin-bottom: 15px; margin-top: 0;}
.layout_content1.partner .layout_content_container1 p                              {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 135%; padding: 0 50px; text-align: center; color: #ffffff; line-height: 27px;}
.layout_content1.partner .layout_content_container1 .link                          {clear: both; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%;}
.layout_content1.partner .layout_content_container1 .link img                      {vertical-align: top; margin: 0 10px;}
.layout_contentBlock_article h3                                                    {font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 300%; color: #0a79bf; text-decoration: underline; margin-bottom: 40px; margin-top: 50px;}
.layout_contentBlock_article h4                                                    {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 180%; color: #2a333c; line-height: 30px; margin-bottom: 20px;}
.layout_contentBlock_article p                                                     {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; color: #2a333c; line-height: 27px; margin-bottom: 60px;}
.layout_content2.partner                                                           {max-width: none; background: #ffffff; height: 693px; margin: 0 auto;}
.layout_content2.partner .layout_content_container2                                {position: relative; max-width: 1080px;}
.layout_content2.partner .layout_content_container2 .layout_contentBlock           {padding: 0;}
.layout_content2.partner .layout_content_container2 img                            {position: absolute; right: 0; top: -100px;}
.layout_content2.partner .layout_content_container2 .first_text                    {width: 70%;}
.layout_content2.partner .layout_content_container2 .text                          {width: 500px;}
.layout_content2.partner .layout_content_container2 .text.left                     {float: left;}
.layout_content2.partner .layout_content_container2 .text.right                    {float: right;}
.layout_content3.partner                                                           {max-width: none; background: url("../images/partner/Banner1.png") center no-repeat; background-size: cover; height: 424px;}
.layout_content3.partner .layout_content_container3                                {width: 1080px; margin: 0 auto;}
.layout_content3.partner .layout_contentBlock_left                                 {float: left; width: 400px;}
.layout_content3.partner .layout_contentBlock_left h3                              {margin: 50px 0; font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 260%; color: #303841; line-height: 37px;}
.layout_content3.partner .layout_contentBlock_left .red                            {margin: 0 auto; width: 383px; font-size: 135%; height: 51px; border-radius: 28px; line-height: 45px;}
.layout_content3.partner .layout_contentBlock_right                                {float: right; width: 500px;}
.layout_content3.partner .layout_contentBlock_right p                              {margin: 50px 0; color: #303841; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; line-height: 27px;}
.layout_content4.partner                                                           {max-width: none; background: #ffffff; height: 1190px; margin: 0 auto; border-bottom: 4px solid #eef1f2;}
.layout_content4.partner .layout_content_container4                                {position: relative; max-width: 1080px; margin: 0 auto;}
.layout_content4.partner .layout_content_container4 .layout_contentBlock           {padding: 0;}
.layout_content4.partner .layout_content_container4 .layout_contentBlock_image img {position: absolute; right: 0; top: 80px;}
.layout_content4.partner .layout_content_container4 h3                             {width: 50%;}
.layout_content4.partner .layout_content_container4 .first_text                    {width: 50%; margin-bottom: 0;}
.layout_content4.partner .layout_content_container4 img                            {display: block;}
.layout_content4.partner .layout_content_container4 .text                          {width: 500px;}
.layout_content4.partner .layout_content_container4 .text.left                     {float: left;}
.layout_content4.partner .layout_content_container4 .text.right                    {float: right;}
.layout_content4.partner .layout_content_container4 .red                           {margin: 0 auto 0 0; width: 363px; font-size: 135%; height: 51px; border-radius: 28px; line-height: 45px;}
.layout_content5.partner                                                           {max-width: none; background: #ffffff; height: 820px; margin: 0 auto; border-bottom: 4px solid #eef1f2;}
.layout_content5.partner .layout_content_container5                                {position: relative; max-width: 1080px; margin: 0 auto;}
.layout_content5.partner .layout_content_container5 .layout_contentBlock           {padding: 0;}
.layout_content5.partner .layout_content_container5 .layout_contentBlock_image img {position: absolute; right: 30px; top: -30px;}
.layout_content5.partner .layout_content_container5 .first_text                    {width: 50%; margin-bottom: 90px;}
.layout_content5.partner .layout_content_container5 .text                          {width: 500px;}
.layout_content5.partner .layout_content_container5 .text.left                     {float: left;}
.layout_content5.partner .layout_content_container5 .text.right                    {float: right;}
.layout_content6.partner                                                           {max-width: none; background: url("../images/partner/Banner2.png") center no-repeat; background-size: cover; height: 417px; text-align: center;}
.layout_content6.partner .layout_content_container6                                {position: relative; width: 1080px; margin: 0 auto;}
.layout_content6.partner .layout_content_container6 h3                             {margin: 50px 0 30px 0; font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 260%; color: #2a333c; line-height: 30px;}
.layout_content6.partner .layout_content_container6 p                              {margin: 0 0 35px 0; color: #2a333c; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; line-height: 27px;}
.layout_content6.partner .layout_content_container6 .red                           {margin: 0 auto; width: 333px; font-size: 135%; height: 51px; border-radius: 28px; line-height: 45px;}
.layout_content7.partner                                                           {max-width: none; background: #ffffff; height: 720px; margin: 0 auto;}
.layout_content7.partner .layout_content_container7                                {position: relative; max-width: 1080px; margin: 0 auto;}
.layout_content7.partner .layout_contentBlock_left                                 {float: left; width: 295px; margin-top: 50px;}
.layout_content7.partner .layout_contentBlock_left h4                              {color: #2a333c; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 170%; line-height: 27px;}
.layout_content7.partner .layout_contentBlock_left p                               {color: #2a333c; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; line-height: 27px;}
.layout_content7.partner .layout_contentBlock_right                                {float: right; width: 700px; margin-top: 50px;}
.layout_content7.partner .layout_contentBlock_right h3                             {color: #2a333c; font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 260%;}
.layout_content7.partner .layout_contentBlock_right td                             {padding: 0 20px 40px 0; color: #2a333c; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; line-height: 25px;}
.layout_content7.partner .layout_contentBlock_right .image_wrap                    {height: 120px;}
.layout_content7.partner .layout_contentBlock_right img                            {display: block;}
.layout_content8.partner                                                           {max-width: none; background: #101d27; height: 466px; margin: 0 auto;}
.layout_content8.partner .layout_content_container8                                {position: relative; max-width: 1080px; margin: 0 auto;}
.layout_content8.partner .layout_contentBlock_image                                {position: absolute; left: -150px; top: 38px;}
.layout_content8.partner .layout_contentBlock_text                                 {float: right; width: 740px;}
.layout_content8.partner .layout_contentBlock_text h4                              {color: #ffffff; font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 260%; margin-top: 60px;}
.layout_content8.partner .layout_contentBlock_text p                               {color: #ffffff; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; line-height: 27px; margin-bottom: 20px;}
.layout_content9.partner                                                           {max-width: none; background: #ff4830; height: 315px; margin: 0 auto; text-align: center;}
.layout_content9.partner .layout_content_container9                                {position: relative; max-width: 1080px; margin: 0 auto; color: #ffffff; display: inline-block;}
.layout_content9.partner .layout_content_container9 img                            {display: block; margin: 20px auto;}
.layout_content9.partner .layout_content_container9 h3                             {color: #ffffff; font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 260%; margin-top: 60px;}
.layout_content9.partner .layout_content_container9 a                              {color: #ffffff; font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; font-size: 118%; margin-bottom: 10px;}
.layout_content9.partner .layout_content_container9 .regime                        {color: #ffffff; font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; font-size: 118%;}

/*Individual*/
.layout_content_container1.individual h2       {font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; color: #181818; font-size: 300%; line-height: 41px;}
.layout_content_container1.individual  p               {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; color: #181818; font-size: 135%; line-height: 25px;}
.layout_content_container1.individual .layout_contentBlock_upper .text               {width: 480px;}
.layout_content_container1.individual  h3               {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; color: #2a333c; font-size: 170%; line-height: 25px;}
.layout_content_container1.individual .layout_contentBlock_upper .text .red               {display: inline-block; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; color: #ff321d; font-size: 118%; line-height: 25px;}
.layout_content_container1.individual .layout_contentBlock_upper .text .large               {font-size: 450%; float: left; height: 50px; display: inline-block;}
.layout_content_container1.individual .layout_contentBlock_upper .text.left               {float: left;}
.layout_content_container1.individual .layout_contentBlock_upper .text.right        {float: right;}

.layout_content_container1.individual.lower .text {float: left; width: 50%;}
.layout_content_container1.individual.lower img {float: right;}
.layout_content_container1.individual.lower .info_block {border: 5px solid #ffffff; margin: 50px auto; padding: 0 30px;}
.layout_content_container1.individual.lower .image_wrap {height: 150px; display: inline-block;}
.layout_content_container1.individual.lower .text_wrap {float: right; width: 80%;}
.layout_content_container1.individual.lower img {float: left; margin-right: 25px;}

/*Regional*/
.layout_content.regional {width: 100%; display: inline-block; background: #ffffff; height: auto;}
.layout_content.regional .layout_content_container {width: 1080px; margin: 0 auto 50px auto;}
.layout_content.regional .layout_content_container h3 {font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 260%; color: #2a333c; margin: 50px 0 30px 0;}
.layout_content.regional .layout_content_container p {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 135%; color: #2a333c; margin: 0 0 15px 0;}
.layout_content.regional .layout_content_container span {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; color: #2a333c; margin-top: 30px; display: inline-block;}
.layout_content.regional .layout_content_container p img {vertical-align: middle; margin-right: 10px;}

/*Referal*/
.layout_content1.referal                                    {background: url("../images/partner_referal/Bg_ref1.png") center; background-size: cover; text-align: center; width: 100%; height: 580px; display: inline-block; max-width: none; }
.layout_content1.referal .layout_content_container1         {margin: 45px auto; width: 1080px; height: auto; text-align: center;}
.layout_content1.referal .layout_content_container1 h2      {width: 100%; font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 300%; color: #ffffff; margin-bottom: 45px;}
.layout_content1.referal .layout_contentBlock_items .item      {width: 33%; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; color: #ffffff; float: left; margin: 0 0 30px 0; text-align: left;}
.layout_content1.referal .layout_contentBlock_items .item h4     {text-transform: uppercase; color: #9ce138; font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; font-size: 180%; margin-bottom: 20px;}
.layout_content1.referal .layout_content_container1 .link       {margin-top: 45px; display: inline-block; clear: both; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%;}
.layout_content1.referal .layout_content_container1 .link img   {vertical-align: top; margin: 0 10px;}

.layout_content2.referal                                    {background: url("../images/partner_referal/Bg_ref2.png") center; background-size: cover; text-align: center; width: 100%; height: 580px; display: inline-block; max-width: none; }
.layout_content2.referal .layout_content_container2         {margin: 45px auto; width: 1080px; height: auto; text-align: center;}
.layout_content2.referal .layout_content_container2 h3      {width: 100%; font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; font-size: 300%; color: #ffffff; margin-bottom: 45px;}

.layout_content3.referal                                    {background: url("../images/partner_referal/Bg_ref3.png") center; background-size: cover; text-align: center; width: 100%; height: 580px; display: inline-block; max-width: none; }
.layout_content3.referal .layout_content_container3         {margin: 45px auto; width: 1080px; height: auto; text-align: center;}
.layout_content3.referal .layout_content_container3 h3      {width: 100%; font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; font-size: 300%; color: #ffffff; margin-bottom: 45px;}

.layout_content4.referal                                    {background: url("../images/partner_referal/Bg_ref4.png") right; background-size: cover; text-align: center; width: 100%; height: 580px; display: inline-block; max-width: none; }
.layout_content4.referal .layout_content_container4         {margin: 45px auto; width: 1080px; height: auto; text-align: center;}
.layout_content4.referal .layout_content_container4 h3      {width: 100%; font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; font-size: 300%; color: #2a333c; margin-bottom: 45px;}

























