@media screen and (min-device-width: 768px) and (max-device-width: 1079px) {

    /*Index*
    **************************************************************/
    .mobile  {display: none;}
    .desktop {display: block;}

    .layout_form_login .form_wrapper {left: 50%; margin-left: -160px; right: auto;}

    .layout_header                                       {text-align: center;}
    .layout_header .layout_header_container               {width: 748px; display: inline-block; height: 90px; padding: 26px 0; margin: 0 auto;}
    .layout_header .layout_headerBlock_right               {display: none;}
    .layout_header .layout_header_content {display: inline-block; width: 80%; float: right;}
    .layout_header .layout_headerBlock_menu {max-width: 768px;}
    .layout_header .layout_headerBlock_left {width: auto; float: right;}
    .layout_header .layout_headerBlock_nav {margin: 0; float: left;}
    .layout_header .layout_headerBlock_nav li {padding-right: 27px;}
    .layout_header .layout_headerBlock_nav li:first-child {padding-left: 0;}
    .layout_header .layout_headerBlock_account .desktop {display: none;}
    .layout_header .layout_headerBlock_account .tablet {display: inline-block;}
    .layout_header .layout_headerBlock_account          {float: none; width: auto; text-align: right;}
    .layout_header .layout_headerBlock_account img         {margin-left: 24px;}
    .layout_header .layout_headerBlock_icons {display: none;}
    .layout_header .layout_headerBlock_left a.desktop {display: inline-block;}
    .layout_header .layout_headerBlock_left a.mobile {display: none;}

    .layout_header .layout_header_container .triangle {top: 20px;}
    .layout_header .layout_header_container .triangle.traider {left: 15px;}

    .layout_footer                               {padding: 0;}
    .layout_footer .layout_footer_container      {width: 100%; max-width: 748px;}
    .layout_footer .layout_footer_content        {display: none;}
    .layout_footer .layout_footer_content2       {width: 100%; height: 77px; line-height: 77px; position: relative;}
    .layout_footer .layout_footerBlock_copyright {display: inline-block; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; font-size: 115%; color: #353d45; width: 50%; text-align: left; float: left;}
    .layout_footer .layout_footerBlock_protect   {line-height: 16px; bottom: 15px;}

    .layout_content_upper {width: 100%;}

    .layout_content1.index         {background-position: 57%;}
    .layout_content1 .layout_content_container1           {width: 748px; height: 378px;}
    .layout_content1 .layout_contentBlock_slide1          {width: 490px;}
    .layout_content1.index .layout_contentBlock_slide1 h2       {font-size: 235%; margin: 30px 0;}
    .layout_content1.index .layout_contentBlock_slide1 .buttons {display: inline-block; margin-top: 0; width: 500px;}
    .layout_content1.index .layout_contentBlock_slide2 h3       {font-size: 150%; margin-top: 27px;}
    .layout_content1.index .layout_contentBlock_slide2 p        {font-size: 117%; font-weight: 100; font-family: Roboto-Thin, Arial, sans-serif; margin: 0;}
    .layout_content1.index .layout_contentBlock_slide3          {font-size: 117%; text-align: left; bottom: 0;}
    .layout_content1.index .layout_contentBlock_slide2 .apps    {width: 65px;}
    .layout_content1.index .layout_contentBlock_slide2 .win     {margin: 7px; width: 13px; height: 13px;}
    .layout_content1.index .layout_contentBlock_slide2 .apple   {margin: 7px; width: 14px; height: 16px;}
    .layout_content1.index .layout_contentBlock_slide2 .android {margin: 7px; width: 15px; height: 17px;}
    .layout_content1.index .layout_contentBlock_slide2 .web     {margin: 7px; width: 15px; height: 15px;}

    .layout_content2.index .layout_content_container2                     {width: 748px; margin-top: 20px; margin-bottom: 0;}
    .layout_content2.index .layout_contentBlock_block1 {width: 470px;}
    .layout_content2.index .layout_contentBlock_block1 .col_left          {padding: 0 28px; width: 120px;}
    .layout_content2.index .layout_contentBlock_block1 .col_right         {padding: 0 28px;}
    .layout_content2.index .layout_contentBlock_block2                    {margin-right: 0; margin-bottom: 10px;}
    .layout_content2.index .layout_contentBlock_block4                    {width: 682px;}
    .layout_content2.index .layout_contentBlock_invest.desktop            {display: none;}
    .layout_content2.index .layout_contentBlock_invest.tablet             {display: inline-block; width: 100%; text-align: left; color: #181818; position: relative; padding: 0; margin: 30px auto;}
    .layout_content2.index .layout_contentBlock_invest.tablet img         {position: absolute; right: 22px; top: 4px;}
    .layout_content2.index .layout_contentBlock_invest.tablet h3          {font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 180%; margin-bottom: 23px;}
    .layout_content2.index .layout_contentBlock_invest.tablet p           {width: 495px; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; font-size: 118%; line-height: 25px;}
    .layout_content2.index .layout_contentBlock_rating                    {position: relative; height: 620px; margin-right: 0; width: 674px;}
    .layout_content2.index .layout_contentBlock_rating tr td:first-child  {font-size: 150%;}
    .layout_content2.index .layout_contentBlock_rating tr th:last-child   {display: none}
    .layout_content2.index .layout_contentBlock_rating tr td:last-child   {display: none}
    .layout_content2.index .layout_contentBlock_rating .addition          {width: 490px; margin: 0 auto; text-align: center;}
    .layout_content2.index .layout_contentBlock_rating .addition span     {float: none; margin-bottom: 24px; display: inline-block;}
    .layout_content2.index .layout_contentBlock_rating .addition span img {display: none;}
    .layout_content3.index .layout_contentBlock_resume                    {max-width: 748px;}

    .layout_content2.index .layout_content_container3 {width: 748px; margin: 20px auto;}

    .layout_content2.index .layout_content_container4                     {width: 100%;}
    .layout_content2.index .layout_contentBlock_rating .addition .red     {margin: 0 auto;}

    .layout_content3 .layout_content_container5          {padding: 57px 0; display: inline-block; text-align: center; width: 100%; background: #ffffff; color: #000000; border-bottom: 1px solid #f5f7f7;}
    .layout_content3.index .layout_contentBlock_resume table {float: left; width: 300px;}
    .layout_content3.index .layout_contentBlock_resume table td {display: block; padding: 15px 0;}
    .layout_content3.index .layout_contentBlock_resume table td:first-child {padding-top: 0;}

    .layout_content3 .layout_contentBlock_resume                 {max-width: 748px;}
    .layout_content3 .layout_contentBlock_resume .left_col       {width: 288px; padding-right: 30px; float: left; text-align: left;}
    .layout_content3 .layout_contentBlock_resume .left_col div   {margin-bottom: 43px;}
    .layout_content3 .layout_contentBlock_resume .left_col .info {width: 223px; margin-top: 10px;}


    /*Trader menu*
    **************************************************************/

    /*Open account*/
    .layout_content_container                                             {width: 747px !important; padding: 0 0 30px 0;}
    .layout_content_container.open .layout_contentBlock_left              {width: 687px !important; margin-right: 0;}
    .layout_content_container.open .layout_contentBlock_right             {width: 687px !important; margin-top: 10px; float: none; display: inline-block;}
    .layout_content_container.open .layout_contentBlock_right ul          {display: inline-block;}
    .layout_content_container.open .layout_contentBlock_right ul li       {display: inline-block; margin-right: 20px;}
    .layout_content_container.open .layout_contentBlock_right li a:before {margin-right: 5px;}
    .layout_content_container.open input                                  {width: 414px !important;}
    .layout_content_container.open input#password                         {width: 187px !important;}
    .layout_content_container.open input#repeat_pass                      {width: 240px !important;}
    .layout_content_container.open .note                                  {width: 150px !important;}
    .layout_content_container.open .layout_content_lower form .clear {width: 200px;}
    .layout_content_container.open .attention                                     {width: 638px !important;}
    .layout_content_container.opened .more                                          {width: 638px !important;}
    .layout_content_container.opened .extra_info .form input                        {width: 205px !important;}
    .layout_content_container.opened .layout_contentBlock_right              {width: 747px !important; margin: 10px auto 0 auto; display: inline-block;}
    .layout_content_container.opened .layout_contentBlock_right a             {text-align: left; height: 73px; width: 303px; margin-bottom: 0;}
    .layout_content_container.opened .layout_contentBlock_right .download a   {float: left; margin-right: 20px;}
    .layout_content_container.opened .layout_contentBlock_right .fill_up a   {float: right;}
    .layout_content_container.opened .layout_contentBlock_right img           {float: left; margin: 0 20px 0 0;}
    .layout_content_container.opened .layout_contentBlock_right .link         {margin-top: 20px; display: inline-block;}
    .layout_content_container.opened .layout_contentBlock_right .fill_up span {display: block; margin-top: 20px;}
    .layout_content_container.open .layout_content_lower .extra_info .form span {top: 0; left: 100%;}

    /*Demo*/
    .layout_content_container.demo .layout_content_middle.desktop {display: none;}
    .layout_content_container.demo .layout_content_middle.tablet                                     {clear: both; display: inline-block;}
    .layout_content_container.demo .layout_content_middle.tablet .form                               {position: absolute; padding: 15px; width: 323px; height: auto; background: #ffffff; float: left; margin-right: 0;}
    .layout_content_container.demo .layout_content_middle.tablet .gen_pass {top: 220px; left: 250px;}
    .layout_content_container.demo .layout_content_middle.tablet .learning {background: #ffffff; float: left;}
    .layout_content_container.demo .layout_content_middle.tablet .learning h6 {margin: 40px 50px 30px 392px;}
    .layout_content_container.demo .layout_content_middle.tablet .learning p {margin-left: 392px; margin-right: 30px;}
    .layout_content_container.demo .layout_content_middle.tablet .learning .first {margin-left: 392px; margin-right: 30px;}
    .layout_content_container.demo .layout_content_middle.tablet .learning .second {width: 80%; margin: 0 auto;}
    .layout_content_container.demo .layout_content_middle.tablet .learning .third {width: 80%; margin: 0 auto;}
    .layout_content_container.demo .layout_content_middle.tablet .learning .fourth {width: 80%; margin: 0 auto;}
    .layout_content_container.demo .layout_content_middle.tablet .learning .done h4 {width: 80%; margin: 0 auto; display: block;}
    .layout_content_container.demo .layout_content_middle.tablet .learning .done p {width: 80%; margin: 15px auto;}
    .layout_content_container.demo .layout_content_middle.tablet .learning .done .server {width: 80%; margin: 15px auto 45px auto;}
    .layout_content_container.demo .layout_contentBlock_reklama {width: 500px; padding: 0 30px;}
    .layout_content_container.demo .layout_contentBlock_reklama h3 {margin: 25px 0;}
    .layout_content_container.demo .layout_contentBlock_image {left: -500px; top: 35px;}
    .layout_content_container.demo .layout_content_lower {height: 456px;}

    /*Fillup*/
    .layout_content_container.fillup .comission                   {padding: 14px 19px 26px 19px; height: 34px; top: 0;}
    .layout_content_container.fillup .layout_contentBlock_left    {float: none; padding: 0; width: 734px; height: 53px; margin-right: 0; line-height: 53px; border: 2px solid #ffffff;}
    .layout_content_container.fillup .layout_contentBlock_right   {width: 677px; float: none; margin-top: 10px;}
    .layout_content_container.fillup label                        {width: 200px; margin-right: 35px;}
    .layout_content_container.fillup input                        {width: 238px;}
    .layout_content_container.fillup #sum                         {width: 137px;}
    .layout_content_container.fillup #result                      {width: 137px;}
    .layout_content_container.fillup select                       {width: 93px;}
    .layout_content_container.fillup .note {width: 150px;}
    .layout_content_container.fillup .note.long                   {margin-top: -20px;}
    .layout_content_container.fillup .note.done                   {width: 440px; clear: both;}
    .layout_content_container.fillup .data_card .cvv_number input {width: 70px;}
    .layout_content_container.fillup .data_card .note             {width: 70px;}
    .layout_content_container.fillup .payment.tablet              {display: block; position: relative; background: #ffffff;}
    .layout_content_container.fillup .payment.tablet .title       {display: inline-block; font-size: 135%; font-weight: 500; font-family: Roboto-Med, Arial, sans-serif; float: left; background: #eef1f2; text-align: center; width: 213px;}
    .layout_content_container.fillup .payment.desktop             {display: none;}
    .layout_content_container.fillup .payment.tablet .triangle    {position: absolute; left: 213px; bottom: 0; border: 27px solid transparent;	border-left: 27px solid #eef1f2;}
    .layout_content_container.fillup .payment.tablet .select      {margin-left: 50px; color: #218ed2; font-weight: 700; font-family: Roboto-Bold, Arial, sans-serif; font-size: 135%;}
    .layout_content_container.fillup .payment.tablet .select img  {vertical-align: middle;}
    .layout_content_container.fillup .payment.tablet .select span {color: #181818; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif;}
    .layout_content_container.fillup .payment.tablet .dropdown    {float: right; margin: 25px;}

    .layout_content_container.fillup .payment.tablet .select      {margin-left: 50px; color: #218ed2; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; font-size: 135%;}
    .layout_content_container.fillup .payment.tablet .select span {color: #181818; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif;}
    .layout_content_container.fillup .payment.tablet .select select {width: 470px; padding-left: 40px; font-size: 110%; color: #218ed2; background: transparent; height: 50px; border: none;}
    .layout_content_container.fillup .payment.tablet .select select:hover {box-shadow: none;}



    /*Calculator*/
    .layout_content_container.calc h2 {margin-left: 0;}
    .layout_content_container.calc .layout_contentBlock_left    {padding: 0; float: none; display: block; width: 734px; height: 53px; margin-right: 0; line-height: 53px; border: 2px solid #ffffff;}
    .layout_content_container.calc .payment.tablet              {display: block; position: relative;}
    .layout_content_container.calc .payment.tablet .title       {padding-left: 0; margin-bottom: 0; display: inline-block; font-size: 135%; font-weight: 500; font-family: Roboto-Med, Arial, sans-serif; float: left; background: #eef1f2; text-align: center; width: 213px;}
    .layout_content_container.calc .payment.desktop             {display: none;}
    .layout_content_container.calc .payment.tablet .triangle    {position: absolute; left: 213px; bottom: 3px; border: 27px solid transparent;	border-left: 27px solid #eef1f2;}
    .layout_content_container.calc .payment.tablet .select      {margin-left: 50px; color: #218ed2; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; font-size: 135%;}
    .layout_content_container.calc .payment.tablet .select span {color: #181818; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif;}
    .layout_content_container.calc .payment.tablet .select select {width: 470px; padding-left: 40px; font-size: 110%; color: #218ed2; background: transparent; height: 50px; border: none;}
    .layout_content_container.calc .payment.tablet .select select:hover {box-shadow: none;}

    .layout_content_container.calc .layout_contentBlock_right                {width: 678px; float: none; display: block; margin-top: 7px;}
    .layout_content_container.calc .layout_contentBlock_right .addition      {width: 630px;}
    .layout_content_container.calc .layout_contentBlock_right form .type_fee {width: 135px;}
    .layout_content_container.calc .layout_contentBlock_right form .tool     {width: 100px;}
    .layout_content_container.calc .layout_contentBlock_right form .lot      {width: 57px;}
    .layout_content_container.calc .layout_contentBlock_right form .count    {width: 63px;}
    .layout_content_container.calc .layout_contentBlock_right form .pips     {width: 57px;}

    /*FAQ*/
    .layout_content_container.faq .question {width: 100%; padding-right: 0; padding-left: 0;}
    .layout_content_container.faq .title {margin-left: 30px;}
    .layout_content_container.faq .text {padding-left: 30px;}

    /*Terms*/
    .layout_content_container .layout_contentBlock_kinds       {width: 70% !important;}
    .layout_content_container .table_terms {width: 748px !important;}
    .layout_content_container .list a      {font-size: 100% !important; margin-right: 12px !important; padding-bottom: 6px !important;}
    .layout_content_container .table_terms td {font-size: 118% !important;}
    .layout_content_container .table_terms td:first-child {font-size: 118% !important;}
    .layout_content_container .layout_contentBlock_kinds ul li {font-size: 118% !important;}
    .layout_content_container .summary {width: 747px !important;}
    .layout_content_container .summary td {padding-right: 17px !important; min-width: 120px !important;}
    .layout_content_container .layout_contentBlock_type .type {width: 305px !important;}

    /*Feedback*/
    .layout_content_container.feed .layout_contentBlock_wrapper                       {background: #ffffff; margin-bottom: 10px;}
    .layout_content_container.feed .form                          {width: 90%; margin: 0 auto; padding: 30px 0;}
    .layout_content_container.feed .form input                    {width: 420px !important;}
    .layout_content_container.feed .form input[name="city"]       {width: 205px !important;}
    .layout_content_container.feed .form input[name="number"]     {width: 205px !important;}
    .layout_content_container.feed .form textarea[name="message"] {width: 420px !important;}

    /*Konkurs, bonus, novichkam*/
    .layout_content_container2.konkurs .wrapper                                      {width: 100%; padding: 30px 0;}
    .layout_content_container2.konkurs .form                                         {width: 100%;}
    .layout_content_container2.konkurs .form h3                                      {width: 90%; margin: 0 auto 40px auto;}
    .layout_content_container2.konkurs .form form                                    {width: 90%; margin: 0 auto;}
    .layout_content_container2.konkurs label                                         {margin-right: 20px;}
    .layout_content_container.konkurs .layout_contentBlock_sections .get_pris_link   {display: none;}
    .layout_content_container.konkurs .banner                                        {width: 748px; background-position: left center;}
    .layout_content_container.konkurs .banner.third                                  {width: 748px; background-position: center center;}
    .layout_content_container.konkurs .banner a                                      {width: 718px;}
    .layout_content_container1.konkurs .layout_contentBlock_prises .table_pris table {float: left;}
    .layout_content_container1.konkurs .layout_contentBlock_prises .how_get          {width: 440px !important;}
    .layout_content_container1.konkurs img.desktop                                   {display: none;}
    .layout_content_container1.konkurs img.tablet                                    {display: block; float: left;}
    .layout_content_container1.konkurs                                               {margin: 0 auto; width: 747px;}

    .layout_content_container.bonus img.tablet                {display: block; float: left;}
    .layout_content_container.bonus img.desktop               {display: none;}
    .layout_content_container.bonus .text                     {width: 320px;}
    .layout_content_container.bonus .item                     {width: 150px !important; height: 130px; margin-right: 5px !important; padding: 15px;}
    .layout_content_container.bonus .item .number             {line-height: 60px;}

    .layout_content_container.novichkam                       {padding-bottom: 50px !important;}
    .layout_content_container.novichkam .desktop.image_banner {display: none;}
    .layout_content_container.novichkam .tablet.image_banner  {display: block; float: left; margin-right: 10px;}
    .layout_content_container.novichkam .article              {width: 100%}

    /*Invest menu*
    **************************************************************/

    /*Rating*/
    .layout_content1.rating .layout_content_container                             {display: block; width: 748px; padding-bottom: 0;}
    .layout_content1.rating .layout_content_container h2.desktop                          {display: none;}
    .layout_content1.rating .layout_content_container h2.tablet                           {display: inline-block; font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; font-size: 300%; color: #f5f7f7; float: left;}
    .layout_content1.rating .layout_content_container .blue                               {height: 44px; line-height: 40px; padding: 0 15px; border-radius: 24px;}
    .layout_content1.rating .layout_content_container .layout_contentBlock_items          {width: 718px;}
    .layout_content1.rating .layout_content_container .layout_contentBlock_items .item    {width: 167px; margin-right: 15px;}
    .layout_content2.rating                                                               {margin-top: 20px; max-width: none;}
    .layout_content2.rating .layout_content_container                             {width: 747px; margin: 0 auto;}
    .layout_content2.rating .layout_content_container .filter                      {width: 100%; position: absolute; height: 200px; padding: 0; top: 0;}
    .layout_content2.rating .layout_content_container .filter label                     {display: inline;}
    .layout_content2.rating .layout_content_container .filter input[type="range"]                     {display: inline;}
    .layout_content2.rating .layout_content_container .layout_contentBlock_right    {position: static;}
    .layout_content2.rating .layout_content_container .layout_contentBlock_left    {width: 100%; margin-top: 220px;}
    .layout_content2.rating .layout_contentBlock_left tr:hover                        {background: #ffffff;}
    .layout_content2.rating .layout_contentBlock_left tr:hover img                       {display: none;}
    .layout_content2.rating .layout_contentBlock_left td:last-child                        {padding-right: 70px;}
    .layout_content2.rating .layout_contentBlock_left table .col.left                      {width: 330px;}
    .layout_content2.rating .layout_contentBlock_left table .col.right                     {width: 360px;}
    .layout_content2.rating .layout_contentBlock_left .blue                                {margin: 30px auto;}
    .layout_content2.rating .layout_contentBlock_right                                     {width: 100%; float: none; margin: 20px auto; display: inline-block;}
    .layout_content2.rating .layout_contentBlock_right h4                                  {float: left; width: 30%;}
    .layout_content2.rating .layout_contentBlock_right .note                               {float: right; margin-top: 0; width: 60%;}
    .layout_content2.rating .layout_contentBlock_right .calc                           {width: 687px; height: 220px; position: relative;}
    .layout_content2.rating .layout_contentBlock_right .calc .note                           {position: absolute; top: 35px; right: 0;}
    .layout_content2.rating .layout_contentBlock_right .calc h4                         {margin-bottom: 15px;}
    .layout_content2.rating .layout_contentBlock_right .calc .item                            {margin-right: 20px;}
    .layout_content2.rating .layout_contentBlock_right .spred                         {width: 687px; height: 220px; position: relative;}
    .layout_content2.rating .layout_contentBlock_right .spred .note                        {position: absolute; top: 35px; right: 0;}
    .layout_content2.rating .layout_contentBlock_right .spred h4                         {margin-bottom: 15px;}
    .layout_content2.rating .layout_contentBlock_right .spred label                        {margin: 0;}
    .layout_content2.rating .layout_contentBlock_right .spred input                        {margin: 0 0 30px 0; float: left;}
    .layout_content2.rating .layout_contentBlock_right .spred .radio                       {float: left; display: inline-block; margin: 50px 0 0 30px;}
    .layout_content2.rating .layout_contentBlock_right .spred .radio label                 {float: left; margin-right: 30px;}
    .layout_content2.rating .layout_contentBlock_right .spred .radio label:before          {width: 14px; height: 14px;}
    .layout_content2.rating .layout_contentBlock_right .spred .radio label.luck:before     {top: 2px; left: 120px;}
    .layout_content2.rating .layout_contentBlock_right .spred .radio label.best:before     {top: 2px; left: 265px;}
    .layout_content2.rating .layout_contentBlock_right .radio input[type="radio"]:checked + label:before {font-size: 30px; line-height: 13px;}

    /*TIS*/
    .layout_content2.tis                            {width: 100%; margin-top: -20px;}
    .layout_content2.tis .layout_contentBlock_left  {float: none; width: 748px; margin-bottom: 20px;}
    .layout_content2.tis .layout_contentBlock_right {float: none; width: 748px;}

    /*Direct invest*/
    .layout_content_container.dir_invest .layout_contentBlock             {padding-top: 0;}
    .layout_content_container.dir_invest .layout_contentBlock_left        {width: 468px !important;}
    .layout_content_container.dir_invest .layout_contentBlock_right       {width: 258px !important; float: right;}
    .layout_content_container.dir_invest .layout_contentBlock h3          {margin-bottom: 15px;}
    .layout_content_container.dir_invest .layout_contentBlock_right h3    {margin-top: 10px;}
    .layout_content_container.dir_invest .layout_contentBlock img.desktop {display: none;}
    .layout_content_container.dir_invest .layout_contentBlock img.tablet  {display: block; margin-left: -30px;}
    .layout_content_container.dir_invest .banner                          {background: url("../images/pryam_invest/Banner1_tabl.png") center;}

    /*Copy deal*/
    .layout_content_container.copy_deal .banner {background: url("../images/copi_sdel/Banner1_tabl.png") center;}
    .layout_content_container.copy_deal .screen {width: 467px;}

    /*Be trader*/
    .layout_content_container.invest .layout_contentBlock_right        {width: 200px;}
    .layout_content_container.invest .layout_contentBlock_left .forget {margin-top: 20px;}
    .layout_content_container.invest .layout_contentBlock_left .blue   {margin-top: 20px;}

    /*Invest programm*/
    .layout_content_container.programm .layout_contentBlock_rules img {width: 100%;}

    /*Steps*/
    .layout_content2.steps                                    {margin-top: -50px; padding-bottom: 30px;}
    .layout_content1.steps .navigation                                   {display: none;}
    .layout_content2.steps .layout_content_container          {width: 680px;}
    .layout_content1.steps .layout_contentBlock_steps  {position: static;}
    .layout_content1.steps .layout_contentBlock_steps ul li a {margin: 0 10px;}
    .layout_content1.steps .layout_contentBlock_steps ul      {margin: 30px auto;}
    .layout_content1.steps .table_steps td                    {padding: 10px 0; display: inline-block; width: 50%; float: left;}
    .layout_content1.steps .table_steps .td_button            {width: auto; position: absolute; top: 100%; display: inline-block; left: 50%; margin-left: -200px;}
    .layout_content1.steps .table_steps .blue                 {margin: 0; width: 345px; height: 51px; line-height: 45px; font-size: 135%; border-radius: 28px;}
    .layout_content2.steps.step3                              {margin-top: -130px;}
    .layout_content2.steps.step4                              {margin-top: -130px;}
    .layout_content1.steps.step6 h2                           {margin-top: 170px;}

     /*Invest open*/
    .layout_content_container.open_invest .layout_content_lower .layout_contentBlock_left {margin-top: 140px;}
    .layout_content_container.open_invest .layout_content_upper h2 {margin-bottom: 40px;}
    .layout_content_container.open_invest .layout_content_lower .checkbox {margin-right: 0;}
    .layout_content_container.open_invest .layout_contentBlock_right   {width: 100% !important; padding: 0; position: static;}
    .layout_content_container.open_invest .layout_contentBlock_right .docs  {width: 100%; padding: 0;}
    .layout_content_container.open_invest .layout_contentBlock_right .download {position: absolute; top: 0; left: 0; width: 697px; text-align: left;}
    .layout_content_container.open_invest .layout_contentBlock_right a {width: auto !important; height: auto; float: none;}
    .layout_content_lower .layout_contentBlock_right .docs .title {margin-left: 30px; padding-top: 30px;}
    .layout_content_lower .layout_contentBlock_right .docs ul {margin-left: 30px; margin-bottom: 30px;}
    .layout_content_container.open_invest .download_mobius                         {display: inline-block; width: 100%; text-align: center; background: #ffffff; padding: 20px 0;}
    .layout_content_container.open_invest .download_mobius  img                       {display: block; margin: 10px auto !important; float: none !important;}
    .layout_content_container.open_invest .download_mobius  a                       {text-align: center; float: none;}
    .layout_content_container.open_invest .docs                         {display: none;}


    /*Company menu*
    **************************************************************/

    /*About*/
    .layout_content1.about {height: 419px;}
    .layout_content1.about h2 {margin: 40px 0 25px 0;}
    .layout_content2.about .layout_contentBlock_about_us {padding: 0; width: 60%;}
    .layout_content2.about h2 {font-size: 260%;}
    .layout_content2.about .layout_contentBlock_about_us .apps {width: 190px; margin-right: 0;}
    .layout_content2.about .layout_contentBlock_about_us .apps a {margin: 0 12px;}
    .layout_content3.about  {height: 500px; text-align: center;}
    .layout_content3.about  h2 {font-size: 260%; text-align: center;}
    .layout_content3.about .layout_contentBlock_items {width: 748px; padding: 0;}
    .layout_content3.about .layout_contentBlock_items .item {width: 25%; margin-right: 0; text-align: center;}
    .layout_content3.about .layout_contentBlock_items .item .image_wrap {margin: 0 auto 20px auto;}
    .layout_content3.about .layout_contentBlock_items .item span {text-align: left; padding: 0 10px 0 30px; display: block;}
    .layout_content5.about {height: 517px;}
    .layout_content5.about .layout_contentBlock {height: 517px; background-size: cover;}
    .layout_content5.about .layout_content_container {width: 100% !important; padding-bottom: 0;}
    .layout_content5.about .layout_contentBlock .text {width: 338px; margin: 20px auto;}
    .layout_content5.about .layout_contentBlock_left h3 {width: 300px; font-size: 220%;}
    .layout_content5.about .layout_contentBlock_right h3 {width: 150px; font-size: 220%;}
    .layout_content5.about .layout_contentBlock_left .text {margin-right: 20px;}
    .layout_content5.about .layout_contentBlock_right .text {margin-left: 20px;}

    /*Why we*/
    .layout_content1.why   {height: 761px;}
    .layout_content1.why h2.tablet  {color: #ffffff; display: inline-block; text-align: left; margin: 40px 0 50px 0; width: 100%;}
    .layout_content1.why .layout_contentBlock_table  {margin: 0;}
    .layout_content1.why .layout_content_container  {padding-bottom: 0; height: 100%;}
    .layout_content1.why .layout_content_container table tr:first-child td:first-child {display: none;}
    .layout_content1.why .layout_content_container table td {padding-bottom: 15px;}
    .layout_content1.why .layout_contentBlock_buttons {width: 400px; bottom: 20px; left: 50%; margin-left: -200px;}
    .layout_content2.why .layout_content_container h2 {font-size: 260%; text-align: left; margin: 40px 0;}
    .layout_content2.why .layout_content_container img {margin-left: -630px;}
    .layout_content3.why  {height: 1130px;}
    .layout_content3.why .layout_contentBlock_items {width: 748px;}
    .layout_content3.why .layout_content_container .item {width: 340px; height: auto;}
    .layout_content3.why .layout_content_container .item:nth-child(2n + 1) {padding-right: 30px; width: 360px;}
    .layout_content4.why {background-position: left center; height: 553px;}
    .layout_content4.why h2 {margin: 30px 0; text-align: left;}
    .layout_content4.why .layout_contentBlock_left {float: none; width: 100%;}
    .layout_content4.why .layout_contentBlock_right {float: none; width: 100%; text-align: left;}
    .layout_content4.why .layout_contentBlock_right h2 {padding-left: 0;}
    .layout_content4.why .layout_contentBlock {padding: 0;}
    .layout_content4.why .layout_contentBlock p {padding-right: 25px;}
    .layout_content4.why .layout_contentBlock_right .bold {margin-top: 0;}

    /*Providers*/
    .layout_content_container.providers .layout_contentBlock_left {width: 100%; margin-top: 300px;}
    .layout_content_container.providers .layout_contentBlock_left .link {width: 180px; height: 180px; margin-right: 7px;}
    .layout_content_container.providers .layout_contentBlock_left .link:nth-child(2n+1) {margin-right: 7px;}
    .layout_content_container.providers .layout_contentBlock_left .link:nth-child(4n) {margin-right: 0;}
    .layout_content_container.providers .layout_contentBlock_left .link a {width: 172px; height: 172px; line-height: 172px;}
    .layout_content_container.providers .layout_contentBlock_left .link a img {width: 100px;}
    .layout_content_container.providers .layout_contentBlock_right {margin-left: 0; width: 100%; padding: 0; height: auto; position: absolute; top: 0;}
    .layout_content_container.providers .layout_contentBlock_right .text_wrapper {margin: 30px;}
    .layout_content_container.providers .layout_contentBlock_right p {border: none; padding-top: 0;}

    /*News*/
    .layout_content_container.news h2.desktop {display: none;}
    .layout_content_container.news h2.tablet {display: inline-block; width: 20%;}
    .layout_content_container.news .layout_contentBlock_years {width: 80%; line-height: 54px;}
    .layout_content_container.news .layout_content_lower .news_block {width: 680px;}

    /*Contacts*/
    .layout_content_container.contacts .layout_contentBlock_choice label {width: 168px;}
    .layout_content_container.contacts .map img {width: 475px;}
    .layout_content_container.contacts .layout_content_lower .col.right {width: 262px;}
    .layout_content_container.contacts .layout_content_lower .col.left {width: 475px;}
    .layout_content_container.contacts {padding-bottom: 0;}

    /*Education menu*
    **************************************************************/

    /*Book*/
    .layout_content_container.edu .layout_content_upper .layout_contentBlock_paragraph {width: 65%;}
    .layout_content_container.edu .layout_content_upper .layout_contentBlock_paragraph p {font-size: 118%;}
    .layout_content_container.edu .layout_content_lower .col {width: 312px; margin-bottom: 25px; height: auto;}
    .layout_content_container.edu .layout_content_lower .col:nth-child(2n) {margin-right: 0; float: right;}

    /*Partner menu*
    **************************************************************/

    /*Partner programm*/
    .layout_content1.partner {height: 430px;}
    .layout_content1.partner h2 {margin: 35px 0 25px 0;}
    .layout_content1.partner .item h3 {font-family: GothamPro-Light, Arial, sans-serif; font-weight: 300;}
    .layout_content1.partner .item p {padding: 0 10px; font-size: 118%;}
    .layout_content1.partner .layout_contentBlock_link {display: none;}
    .layout_content2.partner {height: 830px; overflow: hidden;}
    .layout_content2.partner .layout_contentBlock_image {top: -30px; right: -125px;}
    .layout_content2.partner .layout_contentBlock_article h2 {font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; margin: 30px 0;}
    .layout_content2.partner p.first_text {margin-bottom: 30px; width: 70%;}
    .layout_content2.partner .text {float: none; width: 100%;}
    .layout_content2.partner .layout_contentBlock_article p {margin-bottom: 30px;}
    .layout_content2.partner .layout_contentBlock_article .left h5 {width: 70%;}
    .layout_content3.partner .layout_contentBlock_left {padding: 0; width: 600px; float: none; position: static;}
    .layout_content3.partner .layout_contentBlock_left h3 {margin: 30px 0;}
    .layout_content3.partner .layout_contentBlock_right {padding: 0; float: none; width: 100%;}
    .layout_content3.partner .layout_contentBlock_left .red {position: absolute; bottom: 0; left: 50%; margin-left: -188px;}
    .layout_content3.partner .layout_contentBlock_right p {margin-top: 10px;}
    .layout_content4.partner  {height: auto;}
    .layout_content4.partner .button_wrapper {margin-top: 40px;}
    .layout_content4.partner h2 {font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; margin: 30px 0; width: 100%;}
    .layout_content4.partner .layout_contentBlock_image {right: -190px; top: 115px;}
    .layout_content4.partner .layout_contentBlock_article img {width: 350px;}
    .layout_content4.partner .first_text {width: 60%; margin-bottom: 50px;}
    .layout_content4.partner .text.right {margin-top: 250px;}
    .layout_content4.partner .text {width: 45%;}
    .layout_content5.partner {display: none;}
    .layout_content6.partner {height: 460px;}
    .layout_content7.partner {height: 973px;}
    .layout_content7.partner .layout_contentBlock_left {width: 100%; float: none; text-align: center; margin-top: 30px;}
    .layout_content7.partner .layout_contentBlock_left h5 {margin-bottom: 25px;}
    .layout_content7.partner .layout_contentBlock_right {margin-top: 35px;}
    .layout_content8.partner .layout_content_container {padding-bottom: 0;}
    .layout_content8.partner .layout_contentBlock_text {width: 560px;}
    .layout_content8.partner .layout_contentBlock_image {left: -305px;}
    .layout_content9.partner h3 {margin-top: 35px; font-size: 230%;}
    .layout_content9.partner a {font-size: 160%;}
    .layout_content9.partner .regime {font-size: 160%;}

    /*Individual*/
    .layout_content_container.individual .layout_content_upper .layout_contentBlock_text .text {float: none; width: 100%;}
    .layout_content_container.individual .layout_content_upper .layout_contentBlock_text h5 {margin-top: 0;}
    .layout_content_container.individual .layout_content_lower .layout_contentBlock_text {padding: 0; width: 100%;}
    .layout_content_container.individual .layout_content_lower .layout_contentBlock_text p.article {width: 61%;}
    .layout_content_container.individual .layout_content_lower .layout_contentBlock_image {position: absolute; right: -180px; top: 65px;}
    .layout_content_container.individual .layout_content_lower .layout_contentBlock_info h5 {margin-top: 20px;}

    /*Referal*/
    .layout_content1.referal  {height: 620px;}
    .layout_content1.referal h2 {font-size: 240%; text-align: left; margin: 35px 0;}
    .layout_content1.referal .layout_contentBlock_items {padding: 0;}
    .layout_content1.referal .layout_contentBlock_items .item {width: 50%; height: auto;}
    .layout_content1.referal .layout_contentBlock_items .item h4 {font-size: 200%;}
    .layout_content1.referal .layout_contentBlock_link {display: none;}
    .layout_content2.referal  {height: 921px;}
    .layout_content2.referal .layout_content_container {padding-bottom: 0;}
    .layout_content2.referal .layout_contentBlock_cols {padding-bottom: 0;}
    .layout_content2.referal .layout_content_container h2 {margin: 30px 0;}
    .layout_content2.referal .layout_content_container h5 {font-size: 175%;}
    .layout_content2.referal .layout_contentBlock_cols .col {margin-bottom: 30px; margin-right: 0; height: auto;}
    .layout_content2.referal .layout_contentBlock_cols .col p.article {padding-right: 30px;}
    .layout_content2.referal .layout_contentBlock_cols .col.short {width: 50%;}
    .layout_content2.referal .layout_contentBlock_cols .col.long {width: 50%;}
    .layout_content2.referal .layout_contentBlock_cols .number {font-size: 390%;}
    .layout_content2.referal .layout_contentBlock_button {bottom: 128px; right: 50px; left: auto;}
    .layout_content3.referal  {height: 723px; margin-top: -5px;}
    .layout_content3.referal .layout_content_container h2 {font-size: 240%; margin: 35px 0;}
    .layout_content3.referal .layout_contentBlock_left {width: 385px;}
    .layout_content3.referal .layout_contentBlock_right {width: 335px;}
    .layout_content3.referal .layout_contentBlock_left .title {width: 740px; margin-top: 25px;}
    .layout_content3.referal .layout_contentBlock_left .example {margin-top: 0;}
    .layout_content3.referal .article.lower {margin-top: 30px;}
    .layout_content4.referal .layout_content_container h2 {font-size: 240%; text-align: center; margin: 30px 0;}
    .layout_content4.referal .layout_content_container .article {padding: 0 30px;}
    .layout_content4.referal .layout_content_container h5 {width: 650px; margin: 30px auto;}

    /*Promo cod*/
    .layout_content_container.promo .layout_content_lower .example   {width: 80%;}

    /*Banners*/
    .layout_content.banners .layout_contentBlock_tablet {display: inline-block; width: 100%; padding: 30px 0; background: #ffffff; text-align: center;}
    .layout_content.banners .layout_contentBlock_tablet p {width: 70%; margin: 20px auto;}
    .layout_content.banners .layout_contentBlock_left {display: none;}
    .layout_content.banners .layout_contentBlock_right {display: none;}


}
