@media screen and (min-device-width: 320px) and (max-device-width: 767px) {

    /*Index*
   **************************************************************/
    .desktop {display: none;}
    .mobile {display: block;}

    .layout_header.mobile                                             {text-align: center; display: inline-block;}
    .layout_header.mobile *                                           {display: inline-block;}
    .layout_header.mobile .layout_header_container                    {height: 84px; padding: 25px 0;}
    .layout_header.mobile .layout_headerBlock_logo                    {float: left; margin-left: 25px;}
    .layout_header.mobile .layout_headerBlock_icons                   {float: right; line-height: 43px; margin-right: 25px;}
    .layout_header.mobile .layout_headerBlock_icons a                 {line-height: 36px; width: 40px; height: 40px; border-radius: 50%; border: 1px solid #0a79bf;}
    .layout_header.mobile .layout_headerBlock_icons a:first-child     {margin-right: 10px;}
    .layout_header.mobile .layout_headerBlock_icons a img             {margin-left: 7px; width: 20px;}
    .layout_header.mobile .layout_headerBlock_icons a .mobile_menu    {width: 14px;}
    .layout_header.mobile .layout_header_content2                     {margin-top: 27px; width: auto; margin-left: 0;}
    .layout_header.mobile .layout_headerBlock_menuTablet              {text-align: left;}
    .layout_header.mobile .layout_headerBlock_menuTablet img          {vertical-align: sub; margin-right: 7px;}
    .layout_header.mobile .layout_headerBlock_menuTablet a            {margin-right: 30px;}
    .layout_header.mobile .layout_headerBlock_menuTablet a:last-child {margin-right: 0;}

    .layout_footer                                      {height: 87px; padding: 0;}
    .layout_footer .layout_footer_container             {width: 100% !important;}
    .layout_footer .layout_footer_content               {display: none;}
    .layout_footer .layout_footer_content2              {text-align: left; margin-left: 25px; line-height: 87px;}
    .layout_footer .layout_footerBlock_copyright        {display: inline-block; font-weight: 400; font-family: Roboto-Reg, Arial, serif; font-size: 115%; color: #353d45;}
    .layout_footer .layout_footerBlock_protect          {width: 140px; bottom: 17px;}
    .layout_footer .layout_footerBlock_protect .mobile  {display: block; line-height: 20px;}

    .layout_content1                                      {background: url("../images/main/Bg_index_mob.png") center center no-repeat; background-size: cover;}

    .layout_content1 .layout_content_container1           {height: 330px;}
    .layout_content1 .layout_contentBlock_slide1          {text-align: center; padding: 30px 0 0 0; width: 100%;}
    .layout_content1 .layout_contentBlock_slide1 h2       {font-size: 148%; line-height: 25px; margin: 0 30px; font-weight: 400; font-family: GothamPro-Reg, Arial, sans-serif;}
    .layout_content1 .layout_contentBlock_slide1 .buttons {width: 260px; display: inline-block; margin-top: 25px;}
    .layout_content1 .layout_contentBlock_slide1 .buttons button {width: 260px; margin-bottom: 25px;}
    .layout_content1 .layout_contentBlock_slide2          {display: none;}
    .layout_content1 .layout_contentBlock_slide3          {display: none;}

    .layout_content2.mobile                                            {display: block; margin-top: 0; margin-bottom: 0;}
    .layout_content2.mobile .layout_contentBlock                       {padding: 0; width: 100%}
    .layout_content2.mobile .layout_contentBlock_block1 .col_right     {float: none; width: 100%; padding: 30px 0; height: auto; max-width: none; text-align: center;}
    .layout_content2.mobile .layout_contentBlock_block1                {float: none; width: 100%; margin-right: 0;}
    .layout_content2.mobile .layout_contentBlock_block1 .col_right p   {margin: 0 30px 30px 30px; text-align: left;}
    .layout_content2.mobile .layout_contentBlock_block1 .white_outline {margin: 0 auto; width: 266px; font-size: 88%; height: 37px; line-height: 34px;}
    .layout_content2.mobile .layout_contentBlock_block3                {float: none; width: 100%;}
    .layout_content2.mobile .layout_contentBlock_block2                {margin-right: 0; margin-bottom: 0; width: 100%; height: auto;}
    .layout_content2.mobile .layout_contentBlock_block2 h2             {margin-left: 25px;}
    .layout_content2.mobile .layout_contentBlock_block2 h3             {margin-left: 25px; margin-top: 30px;}
    .layout_content2.mobile .layout_contentBlock_block2 p              {width: 218px; margin-left: 25px;}
    .layout_content2.mobile .layout_contentBlock_block2 .white         {width: 80%; margin: 28px auto;}
    .layout_content2.mobile .layout_contentBlock_block4                {margin-top: 0; width: 100%; height: auto; border-bottom: 1px solid #eef1f2;}
    .layout_content2.mobile .layout_contentBlock_block4 img            {float: none; display: block; margin: 26px auto;}
    .layout_content2.mobile .layout_contentBlock_block4 .text          {margin: 15px 30px;}
    .layout_content2.mobile .layout_contentBlock_block4 .red           {width: 100%; margin: 15px auto 25px auto;}
    .layout_content2.mobile .layout_contentBlock_block3                {height: 236px;}
    .layout_content2.mobile .layout_contentBlock_block3 .markers       {width: auto; right: 25px;}
    .layout_content2.mobile .layout_contentBlock_block3 .date          {margin: 30px 0 0 25px;}
    .layout_content2.mobile .layout_contentBlock_block3 p              {margin: 9px 25px 28px 25px;}
    .layout_content2.mobile .layout_contentBlock_block3 .buttons       {margin-left: 25px;}
    .layout_content2.mobile .layout_contentBlock_block3 .grey_outline  {width: 142px;}
    .layout_content2.mobile .layout_content_container3                 {margin: 0;}

    .layout_content2.mobile .layout_contentBlock_invest.tablet                  {display: inline-block; width: 100%; position: relative; text-align: left; background: url("../images/main/Plant_mob.png") top center no-repeat; background-size: cover;}
    .layout_content2.mobile .layout_contentBlock_invest.tablet h3               {font-family: GothamPro-Reg, Arial, sans-serif; font-weight: 400; color: #0a79bf; line-height: 27px; font-size: 180%; margin: 36px 0 23px 25px;}
    .layout_content2.mobile .layout_contentBlock_invest.tablet p                {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 100%; margin-left: 25px; width: 181px; line-height: 25px;}
    .layout_content2.mobile .layout_contentBlock_invest.tablet .addition span   {margin: 30px 30px 0 30px; text-align: center; display: block; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; color: #181818; font-size: 150%;}
    .layout_content2.mobile .layout_contentBlock_invest.tablet .addition .arrow {margin: 15px auto 0 auto; display: block;}
    .layout_content2.mobile .layout_contentBlock_invest.tablet .addition .red   {margin: 25px auto; width: 266px; height: 36px;}
    .layout_content2.mobile .layout_content_container4                          {position: relative; width: 100%; margin-top: 30px; height: 294px;}
    .layout_content2.mobile .layout_contentBlock_providers h3                   {margin-bottom: 10px; font-weight: 400; font-family: GothamPro-Reg, Arial, sans-serif; font-size: 200%;}
    .layout_content2.mobile .layout_contentBlock_providers ul                   {width: 150px; height: 100px; margin: 35px auto;}
    .layout_content2.mobile .layout_contentBlock_providers li                   {margin-right: 0; display: block;}
    .layout_content2.mobile .layout_contentBlock_providers li a                 {display: none; width: 100%;}
    .layout_content2.mobile .layout_contentBlock_providers li a.active          {display: block;}
    .layout_content2.mobile .layout_contentBlock_providers .markers             {position: absolute; bottom: 35px; left: 50%; margin-left: -80px; line-height: 33px; display: inline-block; width: 160px;}
    .layout_content2.mobile .layout_contentBlock_providers .marker              {cursor: pointer; margin-left: 10px; display: inline-block; width: 10px; height: 10px; background: #d3d8da; border-radius: 50%;}
    .layout_content2.mobile .layout_contentBlock_providers .marker.active       {background: #ff4830;}

    .layout_content3 .layout_contentBlock_resume                                {max-width: none; width: 100%; margin: 0;}
    .layout_content3 .layout_content_container5.desktop                         {display: none;}
    .layout_content3 .layout_content_container5.tablet                          {width: 100%; padding: 0; background: #ffffff; display: inline-block; border-bottom: 1px solid #eef1f2;}
    .layout_content3 .layout_content_container5.tablet .right_col               {display: none;}
    .layout_content3 .layout_content_container5.tablet .left_col                {margin: 40px 25px 30px 25px;}
    .layout_content3 .layout_content_container5.tablet .left_col div            {margin-bottom: 42px;}
    .layout_content3 .layout_content_container5.tablet .left_col div:last-child {margin-bottom: 0;}

    /*Trader menu*
    **************************************************************/

    /*Open account*/
    .layout_content .layout_content_container1                             {max-width: none !important; padding: 0;}
    .layout_content .layout_content_upper h2                               {font-size: 190%; margin: 30px 25px;}
    .layout_content .layout_content_container1 .layout_contentBlock_choice {width: 262px; display: block; margin: 0 auto;}
    .layout_content .layout_content_container1 .layout_contentBlock_choice .item {display: inline-block; margin: 0 auto;}
    .layout_content .layout_contentBlock_choice label                      {margin-right: 0; margin-bottom: 10px;}
    .layout_content .layout_contentBlock_choice input[type="radio"]:checked + label:before {padding-left: 0;}
    .layout_content .layout_content_lower .layout_contentBlock_left        {float: none !important; width: 100% !important; padding: 0 0 30px 0 !important; margin: 0 auto 10px auto !important;}
    .layout_content .layout_content_lower .layout_contentBlock_left form   {position: relative !important;}
    .layout_content .layout_content_lower label                            {float: none !important; width: auto !important; margin-left: 25px !important;}
    .layout_content .layout_content_lower input                            {width: 248px !important; margin: 10px 25px !important;}
    .layout_content .layout_content_lower .gen_pass                        {display: none;}
    .layout_content .layout_content_lower .note.pass                       {display: none;}
    .layout_content .layout_content_lower .show_pass                       {background: transparent !important; position: absolute !important; bottom: 282px; left: 240px;}
    .layout_content .layout_content_lower label[for="check"]               {margin-left: 0 !important;}
    .layout_content .layout_content_lower form .addition span              {width: 210px !important;}
    .layout_content .layout_content_lower .layout_contentBlock_right       {float: none !important; margin: 0 auto !important; width: 240px;}
    .layout_content .layout_content_lower .layout_contentBlock_right.after a {width: 242px;}
    .layout_content .layout_content_lower .attention                                  {margin: 0; width: 100%; height: 134px; padding: 0; text-align: center;}
    .layout_content .layout_content_lower .attention span                             {margin: 22px auto 10px auto;}
    .layout_content .layout_content_lower .attention .password                        {margin: 0 0 22px 0; width: 100%; text-align: center;}

    .layout_content_container1.opened .layout_content_lower .layout_contentBlock_left table.desktop {display: none;}
    .layout_content_container1.opened .layout_content_lower .layout_contentBlock_left     {padding: 0 0 15px 0 !important;}
    .layout_content_container1.opened .layout_content_upper                               {position: relative;}
    .layout_content_container1.opened .layout_content_upper h2                            {margin: 30px 25px 15px 77px;}
    .layout_content_container1.opened .layout_content_upper img                           {position: absolute; top: 40px; left: 25px;}
    .layout_content_container1.opened .layout_content_lower .layout_contentBlock_left p   {background: #edf1f2; padding: 0 25px 32px 25px;}
    .layout_content_container1.opened .layout_content_lower .more                         {width: 100%; height: 70px; padding: 0; text-align: left;}
    .layout_content_container1.opened .layout_content_lower .more span                    {margin: 17px 60px 17px 25px; float: left;}
    .layout_content_container1.opened .layout_content_lower .more a                       {line-height: 80px;}
    .layout_content_container1.opened .layout_content_lower .profile_info                 {width: 100%; min-width: inherit;}
    .layout_content_container1.opened .layout_content_lower .profile_info table.mobile    {display: block; margin: 0 25px; width: auto;}
    .layout_content_container1.opened .layout_content_lower .profile_info table.mobile td {line-height: 25px; padding: 20px 25px; border-bottom: 1px solid #ececec; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif;}
    .layout_content_container1.opened .layout_content_lower .profile_info table.mobile tr:last-child td {border-bottom: 0;}
    .layout_content_container1.opened .layout_content_lower .profile_info table.mobile .bold {font-family: Roboto-Med, Arial, sans-serif; font-weight: 700;}
    .layout_content_container1.opened .layout_content_lower .extra_info .blue {float: none; display: block; margin: 27px auto 15px auto;}
    .layout_content_container1.opened .layout_content_lower .extra_info .edit {float: none; display: block; margin: 0 auto; text-align: center;}
    .layout_content .layout_content_lower .extra_info                        {margin-top: 0;}
    .layout_content .layout_content_lower .layout_contentBlock_right.after   {width: 100%;}
    .layout_content .layout_content_lower .layout_contentBlock_right.after a {margin: 10px auto;}
    .layout_content .layout_content_lower .extra_info form                   {width: 100%;}
    .layout_content .layout_content_lower .extra_info .form span             {display: none;}
    .layout_content .layout_content_lower .extra_info .form input            {width: 280px; float: none;}
    .layout_content .layout_content_lower .extra_info .form .blue.mobile     {display: block;}
    .layout_content .layout_content_lower .extra_info .form .blue.desktop    {display: none;}

    .layout_content_container1.demo .layout_content_middle .layout_contentBlock_left            {width: 100%; padding: 0;}
    .layout_content .layout_content_middle .learning h3                                         {margin-top: 30px;}
    .layout_content_container1.demo .layout_content_middle form                                 {position: relative;}
    .layout_content_container1.demo .layout_content_middle label                                {float: none; margin: 30px auto 0 25px; display: inline-block; width: auto;}
    .layout_content_container1.demo .layout_content_middle input                                {width: 260px; margin: 10px auto 0 auto; display: block;}
    .layout_content_container1.demo .layout_content_middle .gen_pass                            {bottom: 345px; right: 20px;}
    .layout_content_container1.demo .layout_content_middle .show_pass                           {display: none;}
    .layout_content_container1.demo .layout_content_middle .item                                {float: none; width: 100%;}
    .layout_content_container1.demo .layout_content_middle .selects                             {width: 100%;}
    .layout_content_container1.demo .layout_content_middle .item label                          {float: none; width: 260px; display: block; margin: 10px auto 0 auto;}
    .layout_content_container1.demo .layout_content_middle select                               {float: none; width: 276px; display: block; margin: 10px auto 0 auto;}
    .layout_content_container1.demo .layout_content_middle .blue                                {margin: 25px auto;}
    .layout_content_container1.demo .layout_content_middle .layout_contentBlock_right           {width: 100%; padding: 0; background: transparent;}
    .layout_content_container1.demo .layout_content_middle .layout_contentBlock_right .learning {margin: 0 45px 0 25px;}
    .layout_content_container1.demo .layout_content_middle .list img                            {margin: 0 auto;}
    .layout_content_container1.demo .layout_content_middle .learning h2                         {font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400;}
    .layout_content_container1.demo .layout_content_middle .layout_contentBlock_right .server   {font-size: 140%;}
    .layout_content_container1.demo .layout_contentBlock_image                                  {position: relative; left: auto; margin: 45px auto 0 auto;}
    .layout_content_container1.demo .layout_contentBlock_image img                              {width: 320px; margin: 0 auto; display: block;}
    .layout_content_container1.demo .layout_contentBlock_reklama                                {position: relative; width: 100%; padding: 0; float: right;}
    .layout_content_container1.demo .layout_contentBlock_reklama h3                             {font-size: 190%; margin-left: 25px; margin-right: 25px;}
    .layout_content_container1.demo .layout_contentBlock_reklama p                              {margin-left: 25px; margin-right: 25px;}
    .layout_content_container1.demo .layout_contentBlock_reklama .blue                          {float: none; display: block; margin: 90px auto 25px auto;}
    .layout_content_container1.demo .layout_contentBlock_reklama .apps                          {position: absolute; bottom: 100px; text-align: center; width: 100%;}

    /*Fillup*/
    .layout_content .layout_content_container1.fillup .comission                                      {width: 266px; padding: 0; height: 45px; line-height: 45px; text-align: center; top: 145px; left: 50%; margin-left: -133px;}
    .layout_content .layout_content_container1.fillup .layout_content_upper h2                        {margin-bottom: 0;}
    .layout_content .layout_content_container1.fillup .layout_contentBlock_right                      {padding: 0; width: 100%;}
    .layout_content .layout_content_container1.fillup input                                           {float: none;}
    .layout_content .layout_content_container1.fillup .layout_content_lower .layout_contentBlock_left {padding: 0 !important; height: 54px; width: 266px !important; margin: 10px auto 82px auto !important; line-height: 54px;}
    .layout_content .layout_content_container1.fillup .payment.desktop                                {display: none;}
    .layout_content .layout_content_container1.fillup .payment.tablet                                 {display: block; text-align: center;}
    .layout_content .layout_content_container1.fillup .payment.tablet .title                          {display: none;}
    .layout_content .layout_content_container1.fillup .payment.tablet .triangle                       {display: none;}
    .layout_content .layout_content_container1.fillup .payment.tablet .triangle                       {display: none;}
    .layout_content .layout_content_container1.fillup .payment.tablet .select                         {margin-left: 0; color: #218ed2; font-weight: 700; font-family: Roboto-Bold, Arial, sans-serif; font-size: 135%;}
    .layout_content .layout_content_container1.fillup .payment.tablet .select img                     {vertical-align: middle;}
    .layout_content .layout_content_container1.fillup .payment.tablet .select span                    {color: #181818; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif;}
    .layout_content .layout_content_container1.fillup .payment.tablet .dropdown                       {float: right; margin: 25px;}

    .layout_content .layout_content_container1.fillup form.mobile                    {display: inline-block; height: 740px; padding-top: 10px;}
    .layout_content .layout_content_container1.fillup form.mobile label              {width: 80% !important; display: inline-block; margin: 15px auto 0 auto;}
    .layout_content .layout_content_container1.fillup form.mobile input.number       {width: 115px !important; float: left;}
    .layout_content .layout_content_container1.fillup form.mobile input.bonus        {width: 115px !important; float: left;}
    .layout_content .layout_content_container1.fillup form.mobile input.sum          {width: 115px !important; float: left;}
    .layout_content .layout_content_container1.fillup form.mobile input.result       {width: 115px !important; float: left;}
    .layout_content .layout_content_container1.fillup form.mobile select             {width: 115px !important; float: left; margin: 10px 0;}
    .layout_content .layout_content_container1.fillup form.mobile .note              {width: 260px; margin-left: 25px; margin-bottom: 10px; display: inline-block;}
    .layout_content .layout_content_container1.fillup form.mobile .note.done         {width: 260px; margin-left: 25px; margin-bottom: 0; display: inline-block; float: none;}
    .layout_content .layout_content_container1.fillup form.mobile a.note             {width: 115px !important; float: left; margin-left: 0; line-height: 60px; margin-bottom: 0;}
    .layout_content .layout_content_container1.fillup form.mobile .blue              {margin: 30px auto 0 auto;}
    .layout_content .layout_content_container1.withdraw form.mobile                  {height: 500px; display: inline-block;}
    .layout_content .layout_content_container1.withdraw form.mobile img              {top: 25px; left: 50%; margin-left: -118px;}
    .layout_content .layout_content_container1.withdraw form.mobile input.number     {width: 248px !important;}
    .layout_content .layout_content_container1.withdraw form.mobile input.result     {width: 248px !important;}
    .layout_content .layout_content_container1.withdraw form.mobile .addition        {margin-top: 20px; float: none; margin-left: 25px; display: inline-block; text-align: left;}
    .layout_content .layout_content_container1.withdraw form.mobile .data_card       {margin-bottom: 0; height: 600px;}
    .layout_content .layout_content_container1.withdraw form.mobile .side            {width: 100%; padding: 60px 0 25px 0; height: 500px; border-radius: 0;}
    .layout_content .layout_content_container1.withdraw .data_card .selects          {margin-left: 25px;}
    .layout_content .layout_content_container1.withdraw .data_card .selects label    {margin-left: 0 !important;}
    .layout_content .layout_content_container1.withdraw .data_card .selects select   {font-size: 118%;}
    .layout_content .layout_content_container1.withdraw .data_card .cvv_number       {float: none; width: auto;}
    .layout_content .layout_content_container1.withdraw .data_card .cvv_number input {width: 75px !important; float: left;}
    .layout_content .layout_content_container1.withdraw .data_card .cvv_number .note {width: 120px; float: left; margin-top: 10px;}

    .layout_content_container1.feed .wrapper                  {background: #ffffff; height: auto;}
    .layout_content_container1.feed .form                     {padding: 25px 0; width: 100%;}
    .layout_content_container1.feed .form label               {float: none; width: 260px; margin-left: 25px; display: block;}
    .layout_content_container1.feed .form input               {float: none; width: 246px !important; margin-left: 25px; display: block;}
    .layout_content_container1.feed .form textarea            {float: none; width: 246px !important; margin-left: 25px;}
    .layout_content_container1.feed .form label[for="capcha"] {display: none;}
    .layout_content_container1.feed .form input#capcha        {display: none;}
    .layout_content_container1.feed .form img                 {display: none;}

    .layout_content_container1.faq .question            {width: 216px; padding: 25px;}
    .layout_content_container1.faq .title               {font-size: 118%;}
    .layout_content_container1.faq .question:last-child {margin-bottom: 20px;}

    .layout_content_container1.konkurs .sections {}
    .layout_content_container1.konkurs h2                       {margin-right: 0 !important;}
    .layout_content_container1.konkurs .sections .get_pris_link {display: none;}
    .layout_content_container1.konkurs .sections a              {margin-right: 25px; margin-top: 30px; line-height: 33px; margin-left: 0;}
    .layout_content_container1.konkurs .sections a img          {float: left;}
    .layout_content_container1.konkurs .banner                  {width: 100%; background-size: cover !important;}
    .layout_content_container1.konkurs .banner a                {width: 90%; padding: 0; margin-left: 10%;}
    .layout_content_container1.konkurs p                        {font-size: 118%;}
    .layout_content_container1.konkurs .banner.first            {background: url("../images/konkursi/Banner1_mobile.png") center no-repeat;}
    .layout_content_container1.konkurs .banner  h3              {font-size: 200% !important;}
    .layout_content_container1.konkurs .banner.second           {background: url("../images/konkursi/Banner2_mobile.png") center no-repeat;}
    .layout_content_container1.konkurs .banner.third            {background: url("../images/konkursi/Banner3_mobile.png") center no-repeat;}
    .layout_content_container1.konkurs .floats p                {margin-right: 20px;}

    .layout_content_container1.konkurs img.desktop                             {width: 100%; float: none;}
    .layout_content_container1.konkurs .layout_contentBlock_banner .info       {width: 80%; margin: 0; padding-left: 10%; padding-right: 10%; height: auto;}
    .layout_content_container1.konkurs .layout_contentBlock_prises .article    {font-size: 135%; width: 266px; margin: 0 auto; display: block;}
    .layout_content_container1.konkurs .layout_contentBlock_prises .table_pris {float: none; width: 266px; margin: 25px auto;}
    .layout_content_container1.konkurs .layout_contentBlock_prises .how_get    {width: 90%;  padding: 0 5%;}
    .layout_content_container2.konkurs .wrapper                                {padding: 30px 0; width: 100%;}
    .layout_content_container2.konkurs .form                                   {width: 100%;}
    .layout_content_container2.konkurs .wrapper h3                             {margin-bottom: 25px; margin-left: 25px; font-size: 170%; font-weight: 400; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400;}
    .layout_content_container2.konkurs label                                   {width: 260px; float: none; margin-left: 25px; display: block;}
    .layout_content_container2.konkurs input                                   {width: 246px !important; margin-left: 25px; display: block;}
    .layout_content_container2.konkurs input#password                          {width: 180px !important;}
    .layout_content_container2.konkurs .note                                   {display: none;}
    .layout_content_container2.konkurs .gen_pass                               {display: none;}
    .layout_content_container2.konkurs .form h4                                {width: auto; margin-left: 25px; font-size: 155%; font-weight: 400;}
    .layout_content_container2.konkurs .form .blue                             {margin: 15px auto;}

    .layout_content_container1.bonus img.desktop                        {display: none;}
    .layout_content_container1.bonus img.mobile                         {display: block; width: 100%;}
    .layout_content_container1.bonus .layout_content_upper              {position: relative;}
    .layout_content_container1.bonus .layout_contentBlock .text         {width: 90%; margin-left: 25px; margin-top: 35px;}
    .layout_content_container1.bonus .layout_content_lower .items       {width: 266px; margin: 15px auto;}
    .layout_content_container1.bonus .layout_content_lower .items .item {margin-bottom: 10px;}

    .layout_content_container1.novichkam                      {height: 3100px}
    .layout_content_container1.novichkam .image_banner.tablet {display: block; width: 100%;}
    .layout_content_container1.novichkam .buttons             {position: absolute; bottom: 25px; left: 50%; margin-left: -131px;}
    .layout_content_container1.novichkam .paragraph           {width: 80%; padding: 0 10%;}
    .layout_content_container1.novichkam h4                   {margin: 25px 10%; font-size: 175%; font-weight: 400;}
    .layout_content_container1.novichkam .article             {width: 80%; padding: 0 10%; line-height: 20px;}
}