.layout_header .layout_header_container .triangle.partner {left: 32px;}

/*Partner programm*/
.layout_content1.partner                                {background: url("../images/partner/Bg_partner.png") center; background-size: cover; height: 580px;}
.layout_content1.partner h2                             {color: #ffffff; text-align: center;}
.layout_content1.partner .carousel .carousel-button-left            {display: none;}
.layout_content1.partner .carousel .carousel-button-right           {display: none;}
.layout_content1.partner .layout_contentBlock_items     {display: inline-block; margin-bottom: 50px; padding: 0;}
.layout_content1.partner .item                          {width: 33%;}
.layout_content1.partner .item .image_wrap              {height: 160px;}
.layout_content1.partner .item img                      {display: block; margin: 20px auto;}
.layout_content1.partner .item a                             {display: block;}
.layout_content1.partner .item h3                             {font-size: 165%; text-align: center; text-decoration: underline; color: #abdfff; margin-bottom: 15px; margin-top: 0;}
.layout_content1.partner .item p                              {padding: 0 50px; text-align: center; color: #ffffff;}
.layout_content1.partner .layout_contentBlock_link           {padding: 0; text-align: center; line-height: 30px; color: #ffffff; clear: both; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%;}
.layout_content1.partner .layout_contentBlock_link img       {vertical-align: top; margin: 0 10px;}
.layout_content2.partner                                {background: #ffffff; height: 693px;}
.layout_content2.partner .layout_contentBlock_article h2  {color: #0a79bf; text-decoration: underline;}
.layout_content2.partner .layout_contentBlock_article h5  {color: #2a333c; margin-bottom: 20px;}
.layout_content2.partner .layout_contentBlock_article p   {color: #2a333c; margin-bottom: 60px;}
.layout_content2.partner .layout_contentBlock           {padding: 0; display: inline-block;}
.layout_content2.partner .layout_contentBlock_image                            {position: absolute; right: 0; top: -120px;}
.layout_content2.partner .first_text                    {width: 60%;}
.layout_content2.partner .text                          {width: 500px;}
.layout_content3.partner                                 {height: 424px; background: url("../images/partner/Banner_1.png") bottom center no-repeat; position: relative; margin-bottom: -5px;}
.layout_content3.partner .layout_contentBlock_left       {width: 400px;}
.layout_content3.partner .layout_contentBlock_left h3    {color: #303841; margin-top: 50px;}
.layout_content3.partner .layout_contentBlock_left .red  {margin: 0 auto; padding: 0 20px;}
.layout_content3.partner .layout_contentBlock_right      {width: 500px;}
.layout_content3.partner .layout_contentBlock_right p    {margin: 50px 0; color: #303841;}
.layout_content4.partner                                 {background: #ffffff; height: 965px; border-bottom: 4px solid #eef1f2;}
.layout_content4.partner .button_wrapper                                {text-align: left;}
.layout_content4.partner .layout_contentBlock           {padding: 0;}
.layout_content4.partner .layout_contentBlock_image    {position: absolute; right: 0; top: 80px;}
.layout_content4.partner h2                             {width: 50%; color: #0a79bf; text-decoration: underline;}
.layout_content4.partner .first_text                    {width: 50%; margin-bottom: 0;}
.layout_content4.partner img                            {display: block;}
.layout_content4.partner .text                          {width: 500px;}
.layout_content4.partner .text.left                     {float: left; margin-top: 50px;}
.layout_content4.partner .text.right                    {float: right; margin-top: 155px;}
.layout_content4.partner .red                           {margin: 30px auto 0 0;}
.layout_content5.partner                                {background: #ffffff; height: 820px; overflow: inherit;}
.layout_content5.partner .layout_contentBlock           {padding: 0;}
.layout_content5.partner h2                             {color: #0a79bf; text-decoration: underline;}
.layout_content5.partner .layout_contentBlock_image     {position: absolute; right: 30px; top: -30px;}
.layout_content5.partner .first_text                    {width: 50%; margin-bottom: 90px;}
.layout_content5.partner .text                          {width: 500px;}
.layout_content6.partner                                {height: 417px; background: url("../images/partner/Banner_2.png") bottom no-repeat; margin-bottom: -5px;}
.layout_content6.partner h3                             {margin: 50px 0 30px 0; color: #2a333c; text-align: center;}
.layout_content6.partner p                              {margin: 0 0 35px 0; color: #2a333c; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%; line-height: 27px;}
.layout_content6.partner .red                           {margin: 0 auto;}
.layout_content6.partner .layout_contentBlock_image     {margin: 0 auto;}
.layout_content7.partner                                         {background: #ffffff; height: 720px; margin-bottom: -5px;}
.layout_content7.partner .layout_contentBlock_left                {width: 295px; margin-top: 50px; padding: 0;}
.layout_content7.partner .layout_contentBlock_left h4             {color: #2a333c;}
.layout_content7.partner .layout_contentBlock_left p              {color: #2a333c;}
.layout_content7.partner .layout_contentBlock_right               {width: 700px; margin-top: 50px; padding: 0;}
.layout_content7.partner .layout_contentBlock_right h3            {color: #2a333c;}
.layout_content7.partner .layout_contentBlock_right .item             {width: 33%; height: 270px;}
.layout_content7.partner .layout_contentBlock_right .item p            {color: #2a333c; padding-right: 20px;}
.layout_content7.partner .layout_contentBlock_right .image_wrap   {height: 120px;}
.layout_content7.partner .layout_contentBlock_right img           {display: block;}
.layout_content7.partner .layout_content_container .carousel .carousel-button-left  {display: none;}
.layout_content7.partner .layout_content_container .carousel .carousel-button-right {display: none;}

.layout_content8.partner                                          {background: #101d27; height: 466px; margin-bottom: -5px; overflow: inherit;}
.layout_content8.partner .layout_contentBlock_image               {position: absolute; left: -150px; top: 38px;}
.layout_content8.partner .layout_contentBlock_text                {float: right; width: 740px; padding: 0;}
.layout_content8.partner .layout_contentBlock_text h3             {color: #ffffff; margin-top: 60px;}
.layout_content8.partner .layout_contentBlock_text p              {color: #ffffff; margin-bottom: 20px;}
.layout_content9.partner                                          {background: #ff4830; height: 315px; margin-bottom: -5px;}
.layout_content9.partner img                            {display: block; margin: 20px auto;}
.layout_content9.partner h3                             {color: #ffffff; margin-top: 60px; text-align: center;}
.layout_content9.partner a                              {color: #ffffff; font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; font-size: 118%; margin-bottom: 10px;}
.layout_content9.partner .regime                        {color: #ffffff; font-family: Roboto-Med, Arial, sans-serif; font-weight: 500; font-size: 118%;}

/*Individual*/
.layout_content_container.individual h2       {color: #181818;}
.layout_content_container.individual h5       {margin-top: 48px;}
.layout_content_container.individual .layout_content_upper .layout_contentBlock_text       {padding: 0;}
.layout_content_container.individual .layout_content_upper .layout_contentBlock_text .text               {width: 480px;}
.layout_content_container.individual .layout_content_upper .layout_contentBlock_text h5               {color: #2a333c;}
.layout_content_container.individual .layout_content_upper .layout_contentBlock_text .text .red               {height: 70px; display: block; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; color: #ff321d; font-size: 118%; line-height: 18px;}
.layout_content_container.individual .layout_content_upper .layout_contentBlock_text .text .large               {font-size: 450%; float: left; height: 50px; display: inline-block; margin-right: 15px;}
.layout_content_container.individual .layout_content_lower .layout_contentBlock_text {float: left; width: 48%;}
.layout_content_container.individual .layout_content_lower .layout_contentBlock_image {float: right;}
.layout_content_container.individual .layout_content_lower .layout_contentBlock_info {border: 5px solid #ffffff; margin: 50px auto; display: inline-block; padding: 0 30px;}
.layout_content_container.individual .layout_content_lower .image_wrap {margin: 40px 25px 40px 10px; display: inline-block; float: left;}
.layout_content_container.individual .layout_content_lower .text_wrap {float: left; width: 80%;}
.layout_content_container.individual .layout_content_lower .layout_contentBlock_info h5 {margin: 30px 0 10px 0;}

/*Regional*/
.layout_content.regional {background: #ffffff;}
.layout_content.regional .layout_content_container {text-align: left;}
.layout_content.regional .layout_content_container h3 {color: #2a333c; margin: 50px 0 30px 0;}
.layout_content.regional .layout_content_container p {color: #2a333c; margin: 0 0 15px 0;}
.layout_content.regional .layout_content_container p img {vertical-align: middle; margin-right: 10px;}

/*Referal*/
.layout_content1.referal                                    {background: url("../images/partner_referal/Bg_ref1.png") center; background-size: cover; height: 670px;}
.layout_content1.referal h2      {color: #ffffff; text-align: center;}
.layout_content1.referal .layout_contentBlock_items .item      {width: 33%; height: 140px; color: #ffffff; text-align: left; margin-bottom: 30px;}
.layout_content1.referal .layout_contentBlock_items .item p     {padding-right: 30px;}
.layout_content1.referal .layout_contentBlock_items .item h4     {text-transform: uppercase; color: #9ce138; font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; font-size: 180%; margin-bottom: 20px;}
.layout_content1.referal .layout_contentBlock_link       {padding: 0; color: #ffffff; margin-top: 45px; display: inline-block; clear: both; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 118%;}
.layout_content1.referal .layout_contentBlock_link img   {vertical-align: top; margin: 0 10px;}
.layout_content1.referal .layout_content_container .carousel .carousel-button-left  {display: none;}
.layout_content1.referal .layout_content_container .carousel .carousel-button-right {display: none;}

.layout_content2.referal                                    {background: url("../images/partner_referal/Bg_ref2.png") center; background-size: cover; height: 672px;}
.layout_content2.referal .layout_content_container h2      {font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; color: #ffffff; text-align: center;}
.layout_content2.referal .layout_content_container h5      {color: #ffffff; text-align: center; margin-bottom: 0;}
.layout_content2.referal .layout_contentBlock_cols       {padding: 30px 0; display: inline-block;}
.layout_content2.referal .layout_contentBlock_cols .col      {color: #ffffff; text-align: left; margin-right: 30px;}
.layout_content2.referal .layout_contentBlock_cols .col.short      {width: 140px;}
.layout_content2.referal .layout_contentBlock_cols .col.long      {width: 210px;}
.layout_content2.referal .layout_contentBlock_cols .number      {font-size: 550%; margin-bottom: 15px;}
.layout_content2.referal .layout_contentBlock_button      {position: absolute; bottom: 60px; left: 0;}

.layout_content3.referal                                    {color: #ffffff; background: url("../images/partner_referal/Bg_ref3.png") center; background-size: cover; text-align: center; width: 100%; height: 672px;}
.layout_content3.referal .layout_content_container h2      {font-family: GothamPro-Med, Arial, sans-serif; font-weight: 500; color: #ffffff; text-align: center;}
.layout_content3.referal .layout_contentBlock_left      {width: 65%; padding: 0;}
.layout_content3.referal .layout_contentBlock_right      {width: 30%; padding: 0;}
.layout_content3.referal .layout_contentBlock .title      {font-family: Roboto-Bold, Arial, sans-serif; font-weight: 700; font-size: 160%; display: inline-block;}
.layout_content3.referal .layout_contentBlock_left .title      {margin-top: 45px;}
.layout_content3.referal .layout_contentBlock_right .title      {margin-bottom: 30px;}
.layout_content3.referal .layout_contentBlock_left .example      {margin-top: 20px; display: inline-block; font-family: Roboto-Reg, Arial, sans-serif; font-weight: 400; font-size: 155%;}
.layout_content3.referal .article.lower      {text-align: left; display: inline-block; margin-top: 50px;}

.layout_content4.referal                                    {background: url("../images/partner_referal/Bg_ref4.png") right; background-size: cover; height: 529px;}
.layout_content4.referal .layout_content_container h2      {font-family: GothamPro-Med, Arial, sans-serif; color: #2a333c;}
.layout_content4.referal .layout_content_container .article      {padding: 0 110px;}
.layout_content4.referal .layout_content_container h5      {margin: 50px 0; font-family: GothamPro-Bold, Arial, sans-serif;}

/*Banners*/
.section.banners .show_tablet {display: none;}
.section.banners .left {background: #ffffff; width: 425px; padding: 30px;}
.section.banners .left label {width: 100%;}
.section.banners .left input {width: 400px;}
.section.banners .left .decimal {background: url("../images/banner/Icon_decimal.png") center no-repeat; width: 100%; height: 28px; margin: 30px auto 0 auto;}
.section.banners .left .decimal:before {float: left; height: 12px; width: 47%; display: block; content: ""; border-bottom: 1px solid #f1f2f3;}
.section.banners .left .decimal:after {float: right; height: 12px; width: 47%; display: block; content: ""; border-bottom: 1px solid #f1f2f3;}
.section.banners .right {background: transparent; width: 530px;}
.section.banners .point {display: inline-block; width: 32px; height: 32px; border-radius: 50%; background: #218ed2; color: #ffffff; font-size: 160%; text-align: center; line-height: 32px; float: left; margin-right: 10px;}
.section.banners .right .highs {margin-bottom: 30px; display: inline-block; width: 100%;}
.section.banners .right .highs a {padding: 10px; text-align: center; position: relative;}
.section.banners .right .highs a.active {border: 2px solid #218ed2;}
.section.banners .right .highs a.active:before {content: "120x160"; position: absolute; color: #218ed2; font-family: Roboto-Reg, Arial, sans-serif; width: 70px; background: #edf1f2; top: -10px; left: 50%; margin-left: -35px;}
.section.banners .right .banner_high {float: left; width: 33%; display: inline-block;}
.section.banners .right .banner_square {float: left; width: 50%; display: inline-block;}
.section.banners .right .squares {margin-bottom: 30px; display: inline-block; width: 100%;}
.section.banners .right .squares a {padding: 10px; text-align: center; position: relative;}
.section.banners .right .squares a.active {border: 2px solid #218ed2;}
.section.banners .right .squares a.active:before {content: "200x200"; position: absolute; color: #218ed2; font-family: Roboto-Reg, Arial, sans-serif; width: 70px; background: #edf1f2; top: -10px; left: 50%; margin-left: -35px;}
.section.banners .right .strings {display: inline-block; width: 100%;}
.section.banners .right .strings a {padding: 10px; text-align: center; position: relative; margin-bottom: 30px;}
.section.banners .right .strings a.active {border: 2px solid #218ed2;}
.section.banners .right .strings a.active:before {content: "200x60"; position: absolute; color: #218ed2; font-family: Roboto-Reg, Arial, sans-serif; width: 70px; background: #edf1f2; top: -10px; left: 50%; margin-left: -35px;}

/*Promo*/
.section.promo .lower a {color: #0a79bf;}
.section.promo .lower .bold  {font-family: Roboto-Bold, Arial, sans-serif;}
.section.promo .lower .example   {background: #ffffff; padding: 15px 20px; width: 70%; display: inline-block; line-height: 30px;}


















